<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navbar" class="navbar">
<!--Blog area content start-->
    <div class="container">
    <table width="80%" class="center" border="0px"><tr><td align="center">
    <div class="blog-area-content-start">
    <div class="container">
        <div class="row">
            <!--Single blog content start-->
            <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/01.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2022</span>
                            <span>Aug</span>
                        </div>
                        <h4><a href="#">Contact us for an Auto loan. Convenient and affordable payment plans.</a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read More</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->
            <!--Single blog content start-->
            <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/02.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2022</span>
                            <span>Aug</span>
                        </div>
                        <h4><a href="#">Retirement Savings with excellent conditions. Guaranteed returns.</a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read More</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->
            <!--Single blog content start-->
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/03.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2022</span>
                            <span>Sept</span>
                        </div>
                        <h4><a href="#">Digitization of supplies aim to lifting farmers out of poverty </a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read more</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/03.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2022</span>
                            <span>Sept</span>
                        </div>
                        <h4><a href="#">Digitization of supplies aim to lifting farmers out of poverty </a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read more</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->

        </div>
    </div>
</div>
    </td></tr></table>
    </div>
</div>