<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar">  </div>
<br/>
<br/>
<div class="container">

    <br/><br/><br/><br/>
    <table style="border:0px" class="center" width="100%" cellpadding="5">
        <tr>
            <td>
                <font size="3">Account Owner</font>
                <br/>

                <a href="#" th:href="@{/showCustomer/{id}(id=${session.customerInUse.id})}">
                    <font color="gray" size="5">
                        <b><span style th:text="${session.customerInUse.userName}"/></b>
                    </font>
                </a>

                <button type="submit">
                    <a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">
                        <font color="gray" size="2px">Upload I.D</font></a>
                </button>
                <a href="#" th:href="@{/reloadUser}">
                    <img width="40px" th:src="@{/getImage}"/>
                </a>
                <br/>
            <td></td>
            <td> Saving <br/>
                <font color="gray" size="4px">
                    <div th:text="${session.savingBilanzList.totalSaving}"/>
                </font>
            </td>
            <td> Loan<br/>
                <font size="4px" color="gray">
                    <div th:text="${session.loanBilanzList.currentLoanBalance}"/>
                </font></td>
            <td> Current<br/> <font size="4px" color="gray"> <span th:text="${session.currentBilanzList.totalCurrent}"/></font></td>
            <td> Shares<br/> <font size="4px" color="gray"> <span th:text="${session.shareAccountBilanzList.totalShare}"/></font></td>
        </tr>
    </table>

<!-- Contact form area start -->
    <section class="contact-form-area-start space df-bg">

        <div class="project-title-area text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-title-content">
                            <h3>CREATE A CURRENT ACCOUNT</h3>
                            <span><i class="fas fa-crosshairs"></i></span>
                        </div>
                    </div>
                </div>
        </div>

    <form action="#" th:action="@{/registerCurrentAccountForm}" method="post" th:object="${currentAccount}">
        <table class="center" width="100%">
            <tr>
                <td align="center">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br/>
                <label> Account Type:</label>
                <select class="selectNormal" name="currentType" id="currentType" th:field="*{productCode}">
                    <option value="20">Current - 20</option>
                </select>
                    <br/>
                    <br/>
<!--                <label> Notes:</label>-->
                <textarea class="selectNormal" placeholder="Notes..." id="notes" rows="3" cols="30" th:field="*{notes}">
                </textarea>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-success">Create Current Account</button>
                    <br/>
                    <br/>
                </td>
            </tr>

        </table>
    </form>
</section>
</div>
<div th:insert="footer::navbar">  </div>
</html>
