<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar">  </div>
<br/>
<br/>
<div class="container">


<!-- Contact form area start -->
    <section class="contact-form-area-start space df-bg">

        <div class="project-title-area text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-title-content">
                            <h3>CREATE A CURRENT ACCOUNT</h3>
                            <span><i class="fas fa-crosshairs"></i></span>
                        </div>
                    </div>
                </div>
        </div>

    <form action="#" th:action="@{/registerCurrentAccountForm}" method="post" th:object="${currentAccount}">
        <table class="center" width="100%">
            <tr>
                <td align="center">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br/>
                <label> Account Type:</label>
                <select class="selectNormal" name="currentType" id="currentType" th:field="*{productCode}">
                    <option value="20">Current - 20</option>
                </select>
                    <br/>
<!--                <label> Notes:</label>-->
                <textarea class="selectNormal" placeholder="Notes..." id="notes" rows="3" cols="30" th:field="*{notes}">
                </textarea>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-success">Create Current Account</button>
                    <br/>
                    <br/>
                </td>
            </tr>

        </table>
    </form>
</section>
</div>
<div th:insert="footer::navbar">  </div>
</html>
