<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Footer Nav Bar</title>

</head>
<body>
<div>
    <div th:fragment="navbar" class="navbar">
        <div class="navbar-inner">

            <br/><br/>
            <table width="75%">
                <tr><td align="center">

<!--            <a th:href="@{/welcome}" href="/welcome"> Customer Home</a>-->
                </td><td>
            <a th:href="@{/logout}" href="/Logout">Logout</a>
                </td><td>
                    <a th:href="@{/welcomeGlobal}" href="/Logout">PIPIDAF Home</a>
                </td><td>
            <form action="#" th:action="@{/findUserByUserName}" method="post" >
               <nobr>  Username:
                <input type="text" name="userName" value=""/>
                <input type="submit" value="submit"> </nobr>
            </form>
                </td>
                    <td>All currencies are in CFA frs - XAF</td>
                </tr>
            </table>
        </div>
    </div>
    <li><a href="/logout">Logout</a></li>
    <li><b>All currencies are in frs CFA</b></li>
</div>
</body>
</html>