<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>
<div class="container">
    <!-- Contact form area start -->
    <section class="contact-form-area-start space df-bg">
        <form action="#" th:action="@{/addLedgerEntryFormReviewForm}" method="post" th:object="${ledgerEntryDTO}">
            <table class="center" width="100%" border="1">
                <tr>
                    <td align="center">
                        <div class="project-title-content">
                            Transfer From:<h3><div th:text="${glAddEntryTitle}"/></h3>

                            <span><i class="fas fa-crosshairs"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <b><font size="4" color="red"><span  th:text="${error}"/></font></b><br/>
                        <font size="6"> <span th:text="${originLedgerAccount.name}"/>
                        </font>
<!--                        <input type="hidden" th:value="${originLedgerAccount.id}"-->
<!--                               th:attr="name='originLedgerAccountId'" th:field="*{originLedgerAccount}"/>-->

                        <select hidden name="originLedgerAccount" id="origin" th:field="*{originLedgerAccount}">
                            <option th:value="${originLedgerAccount.id}">
                                <span th:text="${originLedgerAccount.name}"/>
                            </option>
                        </select>

                        <select class="selectNormal" name="creditOrDebit" id="creditOrDebit" th:field="*{creditOrDebit}">
                            <option value="">Select A Type </option>
                            <option value="CREDIT">CREDIT</option>
                            <option value="DEBIT">DEBIT</option>
                        </select>
<!--                        <input type hidden th:field="*{originLedgerAccount}"/>-->
                            <!--<input type="hidden"  id="transferType" th:field="*{transferType}" value="${transferType}">-->
                        <br/>
                        <br/>
                        <label> Double Entry To:</label>
                            <select class="selectNormal" th:field="*{destinationLedgerAccount}">
                                <option th:each="i : ${destinationLedgerAccounts}"
                                        th:value="${i.id}">
                                    <span th:text="${i.name}"/>
                                </option>
                            </select>(Opposite booking Type happens here)
                        <br/>
                        <br/>
                        <label> Amount:</label>
                        <input class="selectAmount" size="6" name="ledgerAmount" type="number" th:field="*{ledgerAmount}"/>
                        <br/>
                        <br/>
                        <input size="50" class="selectNormal" type="text" placeholder="Notes here ...." id="notes" th:field="*{notes}">
                        </input>
                        <br/>
                        <br/>
                        <button type="submit" class="btn btn-success">
                            NEXT - Review Entry
                        </button>
                        <br/>
                        <br/>
                    </td>
                </tr>
            </table>
        </form>
        <br/><br/><br/>
    </section>
</div>
<div th:insert="footer::navbar"></div>
</html>
