<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar"></div>


<section class="contact-form-area-start space df-bg">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="col-md-12">
            <div class="project-title-content">
                <br/>
                <table width="90%" class="center" border="0px">
                    <ul th:each="accountLedger : ${accountLedgerList}">
                        <li th:text="${accountLedger.code}"></li>
                        <li>
                            <a href="#" th:href="@{/accountLedger/{id}(id=${accountLedger.id})}">
                                <span th:text="${accountLedger.name}"/>
                            </a>
                        </li>
                    </ul>
                </table>
                <br/>
                </div>
            <font color="gray;" size="4"> <span th:text="${accountNameHeader}"/> </font>
            <br/>
            <form action="#" th:action="@{/filterGenaralLedger}" method="post" th:object="${glSearchDTO}">
                <table border="0" width="80%" class="center">
                    <tr>
                        <td>
                            Ledger
                            <select class="selectNormal" th:field="*{allLedgerAccount}">
                                <option value="-1">
                                    ALL
                                </option>
                                <option th:each="i : ${allLedgerAccount}"
                                        th:value="${i.id}">
                                    <span th:text="${i.name}"/>
                                </option>
                            </select>
                        </td>

                        <td width="5"></td>
                        <td>
                            Start Date<input type="date" name="startDate" th:field="*{startDate}" id="startDate"
                                              placeholder="Start Date:" class="form-control" required>
                        </td>
                        <td width="5"></td>
                        <td>
                            End Date<input type="date" name="endDate" th:field="*{endDate}" id="endDate"
                                            placeholder="End Date:" class="form-control" required>
                        </td>
                        <td width="5"></td>

                        <td>
                            Account No<input type="accountNumber" name="accountNumber" th:field="*{accountNumber}" id="accountNumber"
                                   placeholder="accountNumber" class="form-control"/>
                        </td>
                        <td width="5"></td>
                        <td>
                            Type<select class="selectNormal" name="creditOrDebit" id="creditOrDebit" th:field="*{creditOrDebit}">
                            <option value="ALL">ALL</option>
                            <option value="CREDIT">CREDIT</option>
                            <option value="DEBIT">DEBIT</option>
                        </select>
                        </td>
                        <td width="5"></td>
                        <td>

                            <br/>
                            <button type="submit" class="btn btn-success">SEARCH</button>
                        </td>
                    </tr>
                </table>
            </form>

            <br/>

            <table border="0" width="80%" class="center">
                <tr>
                    <td>
                        <font size="1.5px"> DEBIT</font> <br/>
                        <font color="#2d363f" size="4px">
                            <div th:text="${#numbers.formatDecimal(generalLedgerBilanz.debitTotal, 0, 'COMMA', 0, 'POINT')}"></div>
                        </font></td>
                    <td width="5"></td>
                    <td>
                        <font color="#2d363f" size="1.5px"> CREDIT </font> <br/>
                        <font color="#2d363f" size="4px">
                            <div th:text="${#numbers.formatDecimal(generalLedgerBilanz.creditTotal, 0, 'COMMA', 0, 'POINT')}"></div>
                        </font>
                    </td>
                    <td>
                        <font color="#2d363f" size="1.5px"> TOTAL </font> <br/>
                        <font color="#2d363f" size="4px">
                            <div th:text="${#numbers.formatDecimal(generalLedgerBilanz.total, 0, 'COMMA', 0, 'POINT')}"></div>
                        </font>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--Project title area end-->
    <table border="0" width="90%" class="center">
        <tr>
            <th>Date</th>
            <th>Class</th>
            <th>Reference</th>
            <th>Ledger</th>
            <th>Account</th>
            <th>Notes</th>
            <th><a href="#" th:href="@{/findGlByType/{type}(type='DEBIT')}">DEBIT</a></th>
            <th width="5"></th>
            <th><a href="#" th:href="@{/findGlByType/{type}(type='CREDIT')}">CREDIT</a></th>
            <th width="5"></th>
            <th><a href="#" th:href="@{/gl}">Balance</a></th>
        </tr>
        <tr th:each="gl : ${generalLedgerBilanz.generalLedgerWeb}">
            <td>
                <div th:text="${#dates.format(gl.createdDate, 'dd-MMM-yyyy HH:mm')}"></div>
            </td>
            <td th:text="${gl.glClass}"></td>
            <td>
                <a href="#" th:href="@{/gl/reference/{code}(code=${gl.reference})}">
                    <span th:text="${gl.reference}"/>
                </a>
            </td>
            <td th:text="${gl?.ledgerAccount?.name}"></td>
            <td th:text="${gl.accountNumber}"></td>
            <td th:text="${gl.notes}"></td>
            <td>
                <div th:if="${gl.type == 'DEBIT'}">
                    <span th:text="${#numbers.formatDecimal(gl.amount, 0, 'COMMA', 0, 'POINT')}"></span>
                </div>
            </td>
            <td width="5">

            </td>
            <td>
                <div th:if="${gl.type == 'CREDIT'}">
                    <span th:text="${#numbers.formatDecimal(gl.amount, 0, 'COMMA', 0, 'POINT')}"></span>
                </div>
            </td>
            <td width="5"></td>
            <td><span th:text="${#numbers.formatDecimal(gl.currentTotal, 0, 'COMMA', 0, 'POINT')}"/></td>
        </tr>
    </table>
</section>

</body>
<div th:insert="footer::navbar"></div>
</html>
