<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar"></div>
<br/>
<br/>
<div class="container">
    <section class="choosen-area-start space">
        <table width="90%" class="center" border="0px">
            <tr>
                <td align="center" colspan="2">
                    <font color="#BF360C;" size="4">
                        <h3>LOAN DETAILS </h3>

                    </font>
                </td>
            </tr>
        </table>
        <table width="90%" class="center" border="0px">
            <tr>
                <td>
                        <span th:if="${loan.accountStatus.name == 'PENDING_APPROVAL'}">
                            <a href="#" th:href="@{/approveLoan/{id}(id=${loan.id})}">APPROVE THIS LOAN</a>
                            <font color="brown" size="3px"> <span th:text="${error}"/></font>
                        </span>
                </td>
                <td colspan="3">
                    <font color="gray" size="5"> <span th:text="${loanDetailsInfo}"/></font>
                    <span th:if="${loan.accountStatus.name == 'PENDING_PAYOUT'}">

                            <font color="gray" size="4">Transfer loan amount(<span
                                th:text="${#numbers.formatDecimal(loan.loanAmount, 0, 'COMMA', 0, 'POINT')}"/>) to <span
                                    th:text="${loan.user.lastName}"/>'s current account<br/></font>
                            <font color="gray" size="4"> This loan was APPROVED by <span th:text="${loan.approvedBy}"/> on <span th:text="${#dates.format(loan.approvedDate, 'dd-MMM-yyyy HH:mm')}"/> </font>
                        <br/>
                        <a href="#" th:href="@{/transferToCurrent/{id}(id=${loan.id})}">
                            <img width="50px" th:src="@{/assets/images/transferLoan.png}"/>MAKE TRANSFER TO CURRENT ACCOUNT <img width="50px" th:src="@{/assets/images/transferLoan.png}"/>
                        </a>
                    </span>
                    <br/>
                    <br/>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <font size="2">Loan Owner</font>
                    <br/>
                    <font size="4">
                        <span th:text="${loan.user.gender}"/>.
                        <span th:text="${loan.user.firstName}"/> <span th:text="${loan.user.lastName}"/>
                    </font>
                </td>
                <td align="center"><font size="2"> Account Number</font> <br/>
                    <font size="4px">
                        <div th:text="${loan.accountNumber}"/>
                    </font>
                </td>
                <td align="center"><font size="2">Loan Amount</font><br/>
                    <font size="4px">
                        <span th:text="${#numbers.formatDecimal(loan.loanAmount, 0, 'COMMA', 0, 'POINT')}"/>
                    </font>
                </td>
                <td align="center"><font size="2">Created By</font><br/>
                    <font size="4px">
                        <div th:text="${loan.createdBy}"/>
                    </font>
                </td>
                <td align="center"><font size="2">Created On </font><br/>
                    <font size="4px">
                        <span th:text="${#dates.format(loan.createdDate, 'dd-MMM-yyyy HH:mm')}"></span>
                    </font>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <font size="2">Loan Status</font>
                    <br/>
                    <font size="4">
                        <span th:text="${loan.accountStatus.name}"/>
                    </font>
                </td>
                <td align="center"><font size="2"> Monthly Payment</font> <br/>
                    <font size="4px">
                        <span th:text="${#numbers.formatDecimal(loan.monthlyPayment, 0, 'COMMA', 0, 'POINT')}"/>
                    </font>
                </td>
                <td align="center"><font size="2">Account Type</font><br/>
                    <font size="4px">
                        <div th:text="${loan.accountType.name}"/>
                    </font>
                </td>
                <td align="center"><font size="2"> Interest Rate</font><br/>
                    <font size="4px">
                        <div th:text="${loan.interestRate}"/>
                    </font>
                </td>
                <td align="center">Country/ Branch Created <br/>
                    <font size="4px">
                        <span th:text="${loan.country}"/>/
                        <span th:text="${loan.branchCode}"/>
                    </font>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <font size="2">Loan Term</font>
                    <br/>
                    <font size="4">
                        <span th:text="${loan.termOfLoan}"/>
                    </font>
                </td>
                <td align="center"><font size="2"> Loan Shortee</font> <br/>
                    <font size="4px">
                        <span th:text="${loan.shorteeAccounts[0].savingAccount.user.gender}"/>
                        <span th:text="${loan.shorteeAccounts[0].savingAccount.user.lastName}"/>,
                        <span th:text="${loan.shorteeAccounts[0].savingAccount.user.firstName}"/>
                    </font>
                </td>
                <td align="center"><font size="2"> Term of Loan</font><br/>
                    <font size="4px">
                        <div th:text="${loan.termOfLoan}"/>
                    </font>
                </td>
                <td align="center"><font size="2">Shortee Account Number</font><br/>
                    <font size="4px">
                        <span th:text="${loan.shorteeAccounts[0].savingAccount.accountNumber}"/>
                    </font>
                </td>
                <td align="center"><font size="2">Notes </font><br/>
                    <font size="4px">
                        <span th:text="${loan.notes}"/>
                    </font>
                </td>
            </tr>
        </table>
    </section>
</div>

<div th:insert="footer::navbar"></div>
</html>
