<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBC MFI PLC - MICRO FINANCE</title>
    <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" href="assets/images/favicon/faviconn.ico">

    <link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}" type="text/css"/>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!--Fontawesome-->
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <!--Owl-carousel-->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <!--Owl Carousel theme-->
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <!--Animate-->
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <!-- magnific CSS -->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <!-- Mmenu CSS -->
    <link rel="stylesheet" href="../assets/css/slicknav.min.css">
    <!--Style-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <style>
        table, th, td {
          border: 0px solid #BF360C;
          align: center;
        }
        table.center {
          margin-left: 50px;
          margin-right: 50px;
        }
          tr:nth-child(even) {background-color: #cda893;}


    </style>

</head>

<body>

<div class="navigation-area-start shadow">
    <div class="container">
        <div class="row">
            <!--Logo area start-->
            <div class="col-md-3 col-5 col-sm-5">
                <div class="logo-area">
                    <a href="index.html"><img th:src="@{/assets/images/logo.jpeg}"/> </a>
                </div>
            </div>
            <div class="col-md-9 col-7 col-sm-7">
                <nav class="main-menu-area">
                    <ul class="main-menu" id="mobile-menu">
                        <li> Welcome<span sec:authentication="name"></span>,</li>
                        <!--                        <li><a th:href="@{/welcome}" href="/welcome"> Customer Home</a></li>-->
                        <li><a th:href="@{/welcomeGlobal}" href="/Logout">TBC MFI PLC Home</a></li>
                        <li><a href="#">Accounts <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="drop-list"><a href="#">BLog Page</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="left-sidebar.html">Loans</a></li>
                                <li><a href="right-sidebar.html">Retirement Savings</a></li>
                                <li><a href="single.html">Withdrawals</a></li>
                            </ul>
                        </li>
                        <li>
                            <form action="#" th:action="@{/findUserByUserName}" method="post">
                                <nobr> Find:
                                    <input type="text" name="userName" placeholder="Username" value=""/>
                                    <input style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:3px"
                                           type="submit" value="Submit"></nobr>
                            </form>
                        </li>
                        <li>
                            <a th:href="@{/logout}" href="/Logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Header navigation area end-->

<!--Header area end-->


<!--Choosen area start-->
<section class="choosen-area-start space">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="project-title-content">
                        <h3 th:text="${savingAccountTransaction.savingAccount.accountNumber}"></h3>
                        <span><i class="fas fa-crosshairs"></i></span><br/>
                        <font color="#BF360C;" size="4"><h4>Make a payment/ withdrawal transaction with this Saving Account</h4></font>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="center" width="100%" border="1">
        <tr>
            <th>
                Account Type
            </th>
            <th>
                Account number
            </th>
            <th>
                Account holder
            </th>
        </tr>
        <tr>
            <td>
                <div th:text="${savingAccountTransaction.savingAccount.savingAccountType.name}"/>
            </td>
            <td>
                <font color="#BF360C;"><b>
                    <div th:text="${savingAccountTransaction.savingAccount.accountNumber}"/>
                </b></font>
            </td>
            <td>
                <div th:text="${session.customerInUse.userName}"/>
            </td>
        </tr>
    </table>


    <br/><br/><br/>

    <form action="#" th:action="@{/registerSavingAccountTransactionForm}" method="post"
          th:object="${savingAccountTransaction}">

        <table border="1" width="100%" class="center">
            <tr>
                <td>
                        <select name="deposit_withdrawal">
                            <option value="DEPOSIT">DEPOSIT</option>
                            <option value="WITHDRAWAL">WITHDRAWAL</option>
                        </select>
                </td>
            </tr>
            <tr>
                <td><b>Amount:</b><input size="6" type="number" th:field="*{savingAmount}"/></td>
            </tr>
            <tr>
                <td><label for="modeOfPayment"><b>Mode:</b></label><select name="modeOfPayment" id="modeOfPayment">
                    <option value="CASH">CASH</option>
                    <option value="MOMO">MOMO</option>
                    <option value="ORANGE MONEY">ORANGE MONEY</option>
                    <option value="TRANSFER">TRANSFER</option>
                    <option value="RECEIPT">RECEIPT</option>
                    <option value="OTHER">OTHER</option>
                </select></td>
                </tr>
                <tr>
                <td colspan="2"><label><b> Notes:</b></label>
                    <textarea id="notes" rows="3" cols="30"
                        th:field="*{notes}">
                    </textarea>
                </td>
                </tr><tr>
                <td><input type="hidden" th:value="${savingAccountTransaction.savingAccount.id}"
                           th:attr="name='savingAccountId'"/>
                    <button type="submit" class="btn btn-success">Save Payment</button>
                </td>
            </tr>
        </table>
    </form>

    <br/><br/>

    <table class="center" width="100%">
        <tr>
            <td colspan="4"><font color="#BF360C;"><h4>Saving Account Payments Processed</h4></font></td>
        </tr>
    </table>
    <table class="center" width="100%">
        <tr>
            <td>
                Amount
            </td>
            <td>
                Created Date

            </td>
            <td>
                Created By
            </td>
            <td>
                Notes
            </td>
        </tr>
        <div th:if="${session.savingBilanzList != null}">
            <tr th:each="aSavingAccountTransaction : ${session.savingBilanzList.savingBilanzList}">
                <td>
                    <p th:text="${aSavingAccountTransaction.savingAmount}"/>
                </td>
                <td>
                    <p th:text="${aSavingAccountTransaction.createdDate}"/>
                </td>
                <td>
                    <p th:text="${aSavingAccountTransaction.createdBy}"/>
                </td>
                <td>
                    <p th:text="${aSavingAccountTransaction.notes}"/>
                </td>
            </tr>
        </div>
    </table>


    <!--Choosen main area end-->
</section>
<!--Choosen area end-->


<!--Footer area start-->
<footer class="footer-area-start">
    <!--Footer top area start-->
    <!--Footer top area end-->

    <!--Footer content area start-->
    <div class="footer-content-area-start">
        <div class="container">
            <div class="row">
                <!--Single footer widget start-->
                <div class="col-md-3 mb-sm-5 mb-md-0">
                    <div class="single-footer-widget">
                        <div class="logo-area">
                            <a href="#"><span>TBC MFI</span>PLC</a>
                        </div>
                        <p>The bank on your side. We will consult with you one on one basis?</p>
                        <div class="team-member-social-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!--Single footer widget end-->


                <!--Single footer widget footer menu start-->
                <div class="col-md-2 mb-sm-5 mb-md-0">
                    <div class="single-footer-widget">
                        <h5>Features</h5>
                        <ul class="footer-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Policy</a></li>
                        </ul>
                    </div>
                </div>
                <!--Single footer widget footer menu end-->

                <!--Single footer widget footer menu start-->
                <div class="col-md-4 mb-sm-5 mb-md-0">
                    <div class="single-footer-widget">
                        <h5>Recent News</h5>
                        <div class="media">
                            <i class="fab fa-twitter mr-3 fa-1x"></i>
                            <div class="media-body">
                                <p>" Reprehenderit culpa aspernatur maiores natus impedit, veritatis cum ipsam ad illo
                                    assumenda earum non ut? Deleniti? "</p>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fab fa-twitter mr-3 fa-1x"></i>
                            <div class="media-body">
                                <p>" Vitae tenetur iure possimus facilis, similique soluta reiciendis voluptatibus
                                    tempore? Fugiat. "</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Single footer widget footer menu end-->

            <!--Single footer widget footer menu start-->
            <div class="col-md-3">
                <div class="single-footer-widget">
                    <h5>Get In Touch</h5>
                    <ul class="footer-menu-touch">
                        <li><i class="fas fa-map-marker mr-2"></i> LaChance bridge, Mankon</li>
                        <li><i class="fas fa-envelope mr-2"></i> info@bitsvalley.com</li>
                        <li><i class="fas fa-mobile mr-2"></i> +(012) 1234-5678</li>
                        <li><i class="fas fa-globe-asia mr-2"></i> www.TBC-MFI.com</li>
                        <!--<li><i class="fab fa-twitter mr-2"></i> www.socialmedia.com</li>-->
                    </ul>
                </div>
                <!--Single footer widget footer menu end-->
            </div>
        </div>
    </div>

</footer>
<!--Footer area end-->

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary text-light">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Register Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST">
                    <label for="uname">Username :</label>
                    <input type="text" name="uname" id="uname" placeholder="Username" class="form-control mb-3">

                    <label for="email1">Email :</label>
                    <input type="email" name="email" id="email1" placeholder="Email" class="form-control mb-3">

                    <label for="password1">Password :</label>
                    <input type="password" name="password" id="password1" placeholder="*************"
                           class="form-control">

                    <button type="submit" class=" mt-3 btn btn-primary text-uppercase text-light">Register</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--Modal area end-->


<!--jQuery-->
<script src="assets/js/jquery-3.5.1.min.js"></script>
<!--Bootstrap-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Waypoint js -->
<script src="assets/js/jquery.waypoints.js"></script>
<!-- Counter Up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--Owl-Carousel-->
<script src="assets/js/owl.carousel.min.js"></script>
<!--Parallax-->
<script src="assets/js/parallax.min.js"></script>
<!-- Isotope JS -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- MMenu JS -->
<script src="assets/js/jquery.slicknav.min.js"></script>
<!-- magnific Js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Progress Bar -->
<script src="assets/js/jquery.lineProgressbar.js"></script>
<!-- Countdown Js -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!--Custom Js-->
<script src="assets/js/custom.js"></script>

</body>

</html>
