<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<head>

</head>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="panel panel-primary">
                <div class="panel-heading">Process a Savings account payment</div>
                <div class="panel-body">

                    <table width="50%" border="0">
                        <tr>
                            <th>
                                Account Type
                            </th>
                            <th>
                                Account number
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div th:text="${savingAccountTransaction.savingAccount.savingAccountType.name}"/>
                            </td>
                            <td>
                                <div th:text="${savingAccountTransaction.savingAccount.accountNumber}"/>
                            </td>
                        </tr>
                    </table>
                    <br/><br/>
                    <form action="#" th:action="@{/registerSavingAccountTransactionForm}" method="post" th:object="${savingAccountTransaction}" >
                        <label> Amount received:</label><br/>
                        <input type="number" th:field="*{savingAmount}"/> <br/>
                        <label for="modeOfPayment">Mode of Payment:</label><br/>

                        <select name="modeOfPayment" id="modeOfPayment">
                            <option value="CASH">CASH</option>
                            <option value="MOMO">MOMO</option>
                            <option value="ORANGE MONEY">ORANGE MONEY</option>
                            <option value="TRANSFER">TRANSFER</option>
                            <option value="RECEIPT">RECEIPT</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                        <label> Notes:</label><br/>
                        <input type="text" th:field="*{notes}"/>
                        <input type="hidden" th:value="${savingAccountTransaction.savingAccount.id}" th:attr="name='savingAccountId'"/>
                        <br/>
                        <button type="submit" class="btn btn-success">Save Payment</button>
                    </form>
                    <h4><div th:text="${session.customerInUse.userName}"/>'s</h4>
                    <h4>Saving Account Payments Processed</h4>
                    <table>
                    <tr>
                        <th>
                            Amount
                        </th>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Notes
                        </th>
                    </tr>

                    <tr th:each="aSavingAccountTransaction : ${savingAccountTransaction.savingAccount.savingAccountTransaction}">

                        <td>
                            <p th:text="${aSavingAccountTransaction.savingAmount}"/>
                        </td>
                        <td>
                            <p th:text="${aSavingAccountTransaction.createdDate}"/>
                        </td>
                        <td>
                            <p th:text="${aSavingAccountTransaction.createdBy}"/>
                        </td>
                        <td>
                            <p th:text="${aSavingAccountTransaction.notes}"/>
                        </td>
                    </tr>
                </table>


                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
    <div th:insert="/footer::navbar">  </div>
</div>
