<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>
<br/><br/><br/><br/>
<div class="container">
    <table class="center" width="100%" border="0">
        <tr>
            <td align="center">
                <font size="2px">Username</font> <br/>

                <font size="4">
                    <a href="#" th:href="@{/showCustomer/{id}(id=${session.customerInUse.id})}">
                        <span style th:text="${session.customerInUse.userName}"/>
                    </a>
                </font>

                <button style="font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: #FFFFC0; border: 3pt ridge lightgrey"
                        type="submit">
                    <a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}"><font
                            size="2px">Upload I.D</font></a>
                </button>
                <a href="#" th:href="@{/reloadUser}"><img width="40px" th:src="@{/getImage}"/> </a>
            </td>
            <td align="center">
                <font size="2px">Saving</font> <br/> <font color="#77adbf" size="6px">
                <div th:text="${savingBilanzList.totalSaving}"/>
            </font></td>
            <td align="center">
                <font size="2px">Current</font> <br/> <font size="6"> 0</font></td>
            <td align="center">
                <font size="2px">Loan</font> <br/> <font size="6"> 0</font></td>
            <td align="center">
                <font size="2px"> Retirement saving </font> <br/> <font size="6" color="#A57C00">0 </font></td>
        </tr>
    </table>

    <table border="0" width="90%" class="center">

        <tr>
            <td align="center">
                <font size="2px"> Account Type</font><font color="#2d363f" size="4px">
                <div th:text="${savingAccountTransaction.savingAccount.accountType.name}"/>
            </font>
            </td>
            <td align="center">
                <font size="2px"> Account Number</font><br/>
                <font color="#2d363f" size="4px">
                    <a href="#"
                       th:href="@{/showCustomer/{userid}(userid=${savingAccountTransaction.savingAccount.user.id})}">
                        <div th:text="${savingAccountTransaction.savingAccount.accountNumber}"/>
                    </a>
                </font>
            </td>
            <td align="center">
                <font size="2px"> Account Owner</font><br/>
                <font color="#2d363f" size="4px">
                    <a href="#"
                       th:href="@{/showCustomer/{userid}(userid=${savingAccountTransaction.savingAccount.user.id})}">
                        <div th:text="${savingAccountTransaction.savingAccount.user.lastName}"/>
                    </a>
                </font>
            </td>

            <td align="center">
                <font size="2px"> Rate</font><font color="#2d363f" size="4px">
                <div th:text="${savingAccountTransaction.savingAccount.interestRate}"/>
            </font>
            </td>
            <td align="center">
                <font size="2px"> Min. Balance</font><font color="#2d363f" size="4px">
                <div th:text="${#numbers.formatDecimal(savingAccountTransaction.savingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}"/>
            </font>
            </td>

            <td align="center">
                <font size="2px"> Notes</font><font color="#2d363f" size="4px">
                <div th:text="${savingAccountTransaction.savingAccount.notes}"/>
            </font>
            </td>
        </tr>
    </table>
    <br/> <br/>
    <form action="#" th:action="@{/registerSavingAccountTransactionForm}" method="post"
          th:object="${savingAccountTransaction}">

        <table border="0" width="100%" class="center">
            <tr>
                <th width="10%">
                </th>
                <th>
                    <div class="error" th:text="${billSelectionError}"/>
                    <font size="6" color="gray"><span th:text="${billSelectionInfo}"/></font>
                </th>
            </tr>
            <tr>
                <td width="10%">
                </td>
                <td>
                    <font size="5" color="green"><b> MAKE A SAVING ACCOUNT TRANSACTION</b></font>
                    <br/> <br/>
                    <select class="selectNormal" name="deposit_withdrawal">
                        <option value="">Select A Transaction Type</option>
                        <option value="DEPOSIT">DEPOSIT</option>
                        <option value="WITHDRAWAL">WITHDRAWAL</option>
                    </select>
                    <select class="selectNormal" name="modeOfPayment" id="modeOfPayment">
                        <option value="">Select MOP</option>
                        <option value="CASH">CASH</option>
                        <option value="MOMO">MOMO</option>
                        <option value="ORANGE MONEY">ORANGE MONEY</option>
                        <option value="TRANSFER">TRANSFER</option>
                        <option value="RECEIPT">RECEIPT</option>
                        <option value="OTHER">OTHER</option>
                    </select>

                    <br/> <br/>
                    <b>Enter Amount: <br/></b><input class="selectAmount" size="6" placeholder="Enter Amount" type="number"
                                               th:field="*{savingAmount}"
                                               value="${savingAccountTransaction.savingAmount}"/>

                    <span
                            th:text="${#numbers.formatDecimal(savingAccountTransaction.savingAccount.minimumPayment, 0, 'COMMA', 0, 'POINT')}"/>(Minimum)

                    <br/> <br/>
                    <textarea class="selectNormal" placeholder="Enter Amount in letters ..." id="savingAmountInLetters" rows="1" cols="70"
                              th:field="*{savingAmountInLetters}" maxlength="255">
                    </textarea>

                    <br/>
                    <br/>

                    <font size="3" color="green"> BILL SELECTION:</font><br/>
                    <input class="selectSmall" name="tenThousand" th:field="*{tenThousand}" type="number" min="0" max="999" maxlength="4"
                           value="${savingAccountTransaction.tenThousand}" size="4"/>10 000 &nbsp;
                    <input class="selectSmall" name="fiveThousand" th:field="*{fiveThousand}" type="number" min="0" max="999" maxlength="4"
                           size="4"/>5 000 &nbsp;
                    <input class="selectSmall" name="twoThousand" th:field="*{twoThousand}" type="number" min="0" max="999" maxlength="4"
                           size="4"/>2 000 &nbsp;
                    <input class="selectSmall" name="oneThousand" th:field="*{oneThousand}" type="number" min="0" max="999" maxlength="4"
                           size="4"/>1 000 &nbsp;
                    <input class="selectSmall" name="fiveHundred" th:field="*{fiveHundred}" type="number" min="0" max="999" maxlength="4"
                           size="4"/>500 &nbsp;
                    <input class="selectSmall" name="oneHundred" th:field="*{oneHundred}" type="number" min="0" max="999" maxlength="4"
                           size="4"/>100 &nbsp;
                    <input class="selectSmall" name="fifty" th:field="*{fifty}" type="number" min="0" max="999" maxlength="4" size="4"/>50
                    &nbsp;
                    <input class="selectSmall" name="twentyFive" th:field="*{twentyFive}" type="number" min="0" max="999" maxlength="4"
                           size="4"/>25 &nbsp;

                    <input type="hidden" th:value="${savingAccountTransaction.savingAccount.id}"
                           th:attr="name='savingAccountId'"/>
                    <br/> <br/>
                    <textarea class="selectNormal" placeholder="Enter Notes ..." id="notes" rows="2" cols="70" th:field="*{notes}"
                              maxlength="255">
                </textarea>

                    <br/> <br/>

                    <input class="selectSmall" th:field="*{accountOwner}" type="checkbox" id="true" name="accountOwner"
                               value="true"
                               checked>
                    <font class="selectSmall">Account Owner:</font>

                    <button type="submit" class="btn btn-success"><b>SUBMIT TRANSACTION</b></button>
                    <br/><br/>

                </td>
            </tr>

        </table>
    </form>
    <br/>
    <table border="0" width="100%" class="center">
        <tr>
            <th>
                <font size="5" color="green"> SAVING PAYMENTS PROCESSED </font>
                <a href="#" th:href="@{/statementPDF/{id}(id=${savingAccountTransaction.savingAccount.id})}"><img
                        width="40px" th:src="@{/assets/images/pdfIcon.png}"/> </a>
            </th>
        </tr>
    </table>
    <table cellpadding="5px" border="0" width="100%" class="center">
        <tr>
            <td>Payment Date</td>
            <td>MOP</td>
            <td width="10px"></td>
            <td>Reference</td>
            <td width="10px"></td>
            <td>Agent</td>
            <td width="10px"></td>
            <td>Owner</td>
            <td>Notes</td>
            <td>Debit</td>
            <td>Credit</td>
            <td><font color="green" size="6px">
                <div th:text="${savingBilanzList.totalSaving}"/>
            </font></td>
            <td></td>
        </tr>

        <tr th:each="bilanz : ${savingBilanzList.savingBilanzList}">
            <td th:text="${bilanz.createdDate}"></td>
            <td th:text="${bilanz.modeOfPayment}"></td>
            <td width="10px"></td>
            <td th:text="${bilanz.reference}"></td>
            <td width="10px"></td>
            <td th:text="${bilanz.agent}"></td>
            <td width="10px"></td>
            <td th:text="${bilanz.accountOwner}"></td>
            <td th:text="${bilanz.notes}"></td>
            <td>
                <span th:if="${bilanz.savingAmount} > 0" th:text="${#numbers.formatDecimal(bilanz.savingAmount, 0, 'COMMA', 0, 'POINT')}"/>
            </td>
            <td>
                <span th:if="${bilanz.savingAmount} < 0" th:text="${#numbers.formatDecimal(bilanz.savingAmount, 0, 'COMMA', 0, 'POINT')}"/>
            </td>
            <td th:text="${bilanz.currentBalance}"></td>
            <td>
                <a href="#" th:href="@{/createSavingAccountReceiptPdf/{id}(id=${bilanz.id})}">
                    <img width="30px" th:src="@{/assets/images/pdfIcon.png}"/>
                </a>
            </td>
        </tr>
    </table>
</div>
<br/> <br/>

<div th:insert="footer::navbar"></div>

</body>

</html>
