<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="/header::navbar">  </div>
<br/>
<br/>


    <table width="100%"><tr>
        <td><font size="3">Account Owner</font><br/><font size="4"> <span style th:text="${session.customerInUse.userName}"/>'s </font><button type="submit" ><a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">Upload I.D</a></button>
        </td>
        <td> Saving <br/><font size="6" color="green"> <font color="green" size="6px"> <div th:text="${session.savingBilanzList.totalSaving}"/></font></td>
        <td> Current<br/> <font size="6"> 0</font></td>
        <td> Loan<br/> <font size="6"> 0</font></td>
        <td>Retirement saving <br/> <font size="6" color="#A57C00">0 </font> </b></td>
    </tr></table>

    <font size="5" color="green"> SAVING INTEREST CENTER </font>
    <br/><br/><br/>
        <table width="90%" class="center">
            <tr>
                <th>Date of Payment</th>
                <th>Mode of Payment </th>
                <th>Agent</th>
                <th>Account Number</th>
                <th>Saving Amount</th>
                <th>Interest</th>
                <th>Notes</th>
                <th>Number of Days</th>
                <th>Interest Accrued </th>
                <th></th>
            </tr>

            <tr th:each="bilanz : ${savingBilanzList.savingBilanzList}">
                <td th:text="${bilanz.createdDate}"></td>
                <td th:text="${bilanz.modeOfPayment}"></td>
                <td th:text="${bilanz.agent}"></td>
                <td th:text="${bilanz.accountNumber}"></td>
                <td th:text="${bilanz.savingAmount}"></td>
                <td th:text="${bilanz.interestRate}">

                </td>
                <td th:text="${bilanz.notes}"></td>
                <td th:text="${bilanz.noOfDays}"></td>
                <td th:text="${bilanz.interestAccrued}"></td>
                <b></b><td th:text="${bilanz.currentBalance}"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Interest Accrued</td>

                <td>
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')}">
                        <font color="green" size="4px"> <div th:text="${savingBilanzList.totalSavingInterest}"/></font>
                    </div>
                </td>

                <td>Total Saved:<font color="green" size="6px"> <div th:text="${savingBilanzList.totalSaving}"/></font></td>
                <td></td>
            </tr>

        </table>

    <br/> <br/>

<div th:insert="/footer::navbar">  </div>
</html>