<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="/header::navbar">  </div>
<br/>
<br/>

<!-- Contact form area start -->
<section class="contact-form-area-start space df-bg">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="project-title-content">
                        <h3>SYSTEM SETTINGS</h3>
                        <font color="orange"><div th:text="${notify}"/></font>
                        <span><i class="fas fa-crosshairs"></i></span>
                        <!--                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <div class="contact-from-area">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">

                    <form action="#" method="post" th:action="@{/uploadLogo}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload File And Save To See Changes</button>
                    </form>

                    <form action="#" th:action="@{/saveSettingForm}" method="post" th:object="${runtimeSetting}">
                        <div class="col-md-12">
                           Business Name:<input type="text" name="businessName" th:field="*{businessName}" id="businessName"
                                   placeholder="Enter business name" class="form-control" required>
                            <br/>
                            Logo: <input type="text" name="logo" th:field="*{logo}" id="logo"
                                   placeholder="Upload logo" class="form-control" required>
                            <br/>


                            <img width="100px" th:src="@{/getLogoImage}"/>
                            <br/>

                            <input type="submit" class="btn-block btn contact-btn" value="Save"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

    <div th:insert="/footer::navbar">  </div>
</html>