<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar"></div>
<br/>
<br/>

<!-- Contact form area start -->
<section class="contact-form-area-start space df-bg">

    <div class="contact-from-area">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <font size="6" color="gray"><span th:text="${ShareAccountInfo}"/> </font>
                    <font color="blue"><b>
                        <div class="error" th:text="${error}"/>
                    </b></font>
                    <form action="#" th:action="@{/registerShareAccountForm}" method="post" th:object="${shareAccount}">

                        <table class="center" width="100%" border="1">

                            <tr>
                                <td align="center">

                                    <h3> PURCHASE SHARES</h3>
                                    <span><i class="fas fa-crosshairs"></i></span>

                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    <br/>
                                    <div class="col-md-12">
                                        <label for="productCode">Choose a Share</label><br/>
                                        <select class="selectNormal" name="productCode" id="productCode">
                                            <option value="30">Ordinary Share</option>
                                            <!--                                        <option value="31">Preference Share</option>-->
                                            <!--                                        <option value="32">Debenture Share</option>-->
                                        </select>
                                        <br/>
                                        <br/>
                                        <label> Unit Price</label>
                                        <br/>
                                        <font size="4">
                                            <span class="selectAmount" th:text="${#numbers.formatDecimal(shareAccount.unitSharePrice, 0, 'COMMA', 0, 'POINT')}"/>
                                        </font>

                                        <br/>
                                        <label>Quantity</label>
                                        <br/>
                                        <input class="selectSmall" type="text" name="quantity" th:field="*{quantity}"
                                               id="quantity"
                                               placeholder="quantity" required>
                                        <br/>
                                        <br/>
                                        <label> Notes:</label>
                                        <br/>
                                        <textarea class="selectNormal" id="notes" rows="2" cols="70"
                                                  th:field="*{notes}">
                                </textarea>

<!--                                        <input type="submit" class="btn-block btn contact-btn"-->
<!--                                               value="NEXT - SHARE APPLICATION"/>-->

                                        <button type="submit" class="btn btn-success">
                                            NEXT - SHARE APPLICATION
                                        </button>

                                    </div>

                                    <input class="selectAmount" type="text" name="unitSharePrice" hidden
                                           value th:field="*{unitSharePrice}" id="unitSharePrice"
                                           placeholder="unitSharePrice"/>
                                    <br/>

                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer::navbar"></div>
</html>