<html>
<head></head>
<body><br/><br/>
<table width="100%">
    <tr><font color="green" size="8px"><b>RECEIPT FOR PAYMENT MADE</b></font> <br/>
        <td>Form N. 120000029</td>
        <td colspan="3"><img width="null"
                             src="/Users/frusamachifen/bv_micro_workspace/bv_micro/src/main/webapp/assets/images/logo.png"/><br/><b>bitsvalley</b><br/>
            Bamenda <br/>LaChance Bridge 4049844711
        </td>
        <td>CASH from Account Owner: <br/>null</td>
    </tr>
    <tr>
        <td colspan="3">Account Number: 011100000000101<br/>Customer: <b>Chibayere,Julius</b></td>
        <td>Date:<br/><b>26-08-2021 15:44</b></td>
        <td>Amount <b>10,000</b></td>
    </tr>
    <tr>
        <td colspan="3">Representative: <b>fruManager</b></td>
        <td>Date:<br/><b>Bamenda</b></td>
        <td>Amount <b>26-08-2021 15:44</b></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Amount in Letters: <font color="green" size="8px"> ten thousand</font></td>
        <td></td>
    </tr>
</table>
<br/><br/><br/>
<table border="0" width="100%" class="center">
    <tr>
        <th colspan="2">Description</th>
        <th>Amount</th>
        <th>Charge</th>
        <th>Balance</th>
        <th></th>
    </tr>
    <tr>
        <td colspan="2">com.bitsvalley.micro.domain.SavingAccountType@3c2950b0</td>
        <td>10,000</td>
        <td>0</td>
        <td>1000</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br/><br/><br/><br/><br/>
<table>
    <tr>
        <td></td>
        <td>Cashier Signature: --------------------------------<br/></td>
        <td></td>
        <td><img width=\""+rt.getLogoSize()+"\"
                 src="/Users/frusamachifen/bv_micro_workspace/bv_micro/src/main/webapp/assets/images/camcul.png"/></td>
        <td></td>
        <td>27 August 2021 10:11</td>
    </tr>
</table>
<br/><br/><br/><br/><br/><br/>
<table width="100%">
    <tr>
        <td colspan="3"><img width="50px"
                             src="/Users/frusamachifen/bv_micro_workspace/bv_micro/src/main/webapp/assets/images/logo.jpeg"/>
        </td>
        <td>Customer Name:<b>Julius Chibayere</b></td>
        <td>Account No. <b>011100000000101</b></td>
    </tr>
    <tr>
        <td></td>
        <td><font color="green" size="8px"><b>RECEIPT FOR PAYMENT MADE</b></font></td>
        <td>Total: <font color="green" size="8px"><b>10,000</b>frs cfa</font></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br/><br/><br/>Cash Breakdown
<table border="0" width="100%" class="center">
    <tr>
        <th>Value</th>
        <th>Number</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>1000</td>
        <td>5</td>
        <td>5 000</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br/><br/><br/><br/><br/>
<table>
    <tr>
        <td></td>
        <td>Agent Signature: --------------------------------<br/>Bamenda Branch, N W Region, Date</td>
        <td></td>
        <td></td>
        <td></td>
        <td>27 August 2021 10:11</td>
    </tr>
</table>
</body>
</html>