<html>
<head></head>
<body>
<font style="font-size:1.4em;color:black;"><b>RECEIPT FOR LOAN ACCOUNT TRANSACTION</b></font>
<table border="1" width="100%">
    <tr>
        <td>
            <table>
                <tr>
                    <td><img width="75"
                             src="file:/c:\bv_micro\bv_micro\src\main\webapp\assets\images\bitvalleyLogo.png"/><br/>
                        Reference No:<br/>0QY1FQUUE
                    </td>
                    <td><b><font style="font-size:1.6em;color:black;"> TBC Ltd</font></b><br/>Foncha Street
                        Junction<br/>675 34 23 23<br/>tbcplc2021@gmail.com<br/></td>
                </tr>
            </table>
        </td>
        <td> Branch No: 10<br/>TRANSFER:<br/> Customer Representative: null<br/>Date:07-03-2022 06:15</td>
    </tr>
    <tr>
        <td>Account Number:<b>10042 00013 10100000002 10</b><br/>Customer: <b>Mr Julius Chibayere</b></td>
        Repayment Amount: <font style="font-size:1.6em;color:black;">5,500</font></td></tr>
    <tr>
        <td colspan="2">Agent Representative: <b>manager - </b>Mr manager lastname<br/>Notes:another transfer</td>
    </tr>
</table>
<table border="1" width="100%" class="center">
    <tr>
        <th><font style="font-size:1.2em;color:black;">Bill Selection - Cash Breakdown</font><font
                style="font-size:1.6em;color:black;"> 5,500frs CFA</font></th>
    </tr>
    <tr>
        <td> 10 000 x 0 = <b>0</b>, 5 000 x 0 = <b>0</b>, 2 000 x 0 = <b>0</b>, 1 000 x 0 = <b>0</b> 500 x 0 = <b>0</b>,
            100 x 0 = <b>0</b>, 50 x 0 = <b>0</b>, 25 x 0 = <b>0</b> Amount in Letters: <font color="green" size="8px">
                null</font></td>
    </tr>
</table>
<table>
    <tr>
        <td><br/><br/>Cashier Signature: ------------------------------ Customer Signature:
            ------------------------------<br/> Nkwen branch
        </td>
    </tr>
</table>
<br/><font style="font-size:1.4em;color:black;"><b>RECEIPT FOR LOAN ACCOUNT TRANSACTION</b></font>
<table border="1" width="100%">
    <tr>
        <td>
            <table>
                <tr>
                    <td><img width="75"
                             src="file:/c:\bv_micro\bv_micro\src\main\webapp\assets\images\bitvalleyLogo.png"/><br/>
                        Reference No:<br/>0QY1FQUUE
                    </td>
                    <td><b><font style="font-size:1.6em;color:black;"> TBC Ltd</font></b><br/>Foncha Street
                        Junction<br/>675 34 23 23<br/>tbcplc2021@gmail.com<br/></td>
                </tr>
            </table>
        </td>
        <td> Branch No: 10<br/>TRANSFER:<br/> Customer Representative: null<br/>Date:07-03-2022 06:15</td>
    </tr>
    <tr>
        <td>Account Number:<b>10042 00013 10100000002 10</b><br/>Customer: <b>Mr Julius Chibayere</b></td>
        Repayment Amount: <font style="font-size:1.6em;color:black;">5,500</font></td></tr>

</table>


<br/>
</body>
</html>