<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar"></div>

<section class="contact-form-area-start space df-bg">
    <div class="project-title-area text-center">
<!--        <div class="col-md-12">-->
            <br/>
            <br/>
            <br/>
            <table width="90%" class="center" border="0px">
                <tr>
                    <td align="center">
                        <div class="project-title-content">
                            <font color="green" size="4"><b>
                                <div th:text="${accountNameHeader}"/>
                            </b></font>
                            <span><i class="fas fa-crosshairs"></i></span>
                        </div>
                    </td>
                </tr>
            </table>
        <table width="90%" class="center" border="1px">
            <tr>
                <td align="center">
                    <br/>
                    <font size="3">

                            <span th:text="${startDate}"/>
                             <b><font color="green"> to </font></b>
                            <span th:text="${endDate}"/>
                    </font>
                </td>
            </tr>
        </table>
            <table width="90%" class="center" border="0px">
                <ul th:each="accountLedger : ${accountLedgerList}">
                    <li th:text="${accountLedger.code}"></li>
                    <li>
                        <a href="#" th:href="@{/accountLedger/{id}(id=${accountLedger.id})}">
                            <span th:text="${accountLedger.code}"/>
                        </a>
                    </li>
                </ul>
            </table>
            <br/><br/>
        <br/>
        <form action="#" th:action="@{/filterTrialBalance}" method="post" th:object="${glSearchDTO}">
            <table border="0" width="80%" class="center">
                <tr>
                    <td width="5">
                    </td>
                    <td>
                        Start Date<input type="date" name="startDate" th:field="*{startDate}" id="startDate"
                                         class="form-control" required>
                    </td>
                    <td width="5">
                    </td>
                    <td>
                        End Date<input type="date" name="endDate" th:field="*{endDate}" id="endDate"
                                       class="form-control" required>
                    </td>
                    <td>
                        <br/>
                        <button type="submit" class="btn btn-success">SEARCH</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>

    <!--Project title area end-->
    <table border="0" width="90%" class="center">
        <tr>
            <th>Account Name</th>
            <th>Account Code</th>
            <th>DEBIT</th>
            <th>CREDIT</th>
            <th>BALANCE</th>
        </tr>
        <tr th:each="tb : ${trialBalanceBilanz}">
            <td th:text="${tb.name}">
            </td>
            <td th:text="${tb.code}">
            </td>
            <td>
                <span th:text="${#numbers.formatDecimal(tb.debitTotal, 0, 'COMMA', 0, 'POINT')}">
                </span>
            </td>
            <td>
                <span th:text="${#numbers.formatDecimal(tb.creditTotal, 0, 'COMMA', 0, 'POINT')}">
                </span>
            </td>
            <td width="5"></td>
            <td>
                <span th:text="${#numbers.formatDecimal(tb.totalDifference, 0, 'COMMA', 0, 'POINT')}"/>
            </td>
        </tr>
    </table>
</section>
</body>
<div th:insert="footer::navbar"></div>
</html>
