<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <br/><br/><br/>
                <br/><br/><br/>
                <h3>Upload Customer Identity Card info </h3>
<!--                User: <div th:text="${userName}"/>-->
                Name:<span style th:text="${session.customerInUse.lastName}"/><br/><br/>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form action="#" method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file"/>
<!--                        <input type="hidden" th:value="${userName}" th:attr="userName='userName'"/>-->
                    </div><br/>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </div>


<div th:insert="footer::navbar">  </div>
</html>