<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBC MFI PLC - MICRO FINANCE</title>
    <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" href="assets/images/favicon/faviconn.ico">

    <link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}" type="text/css"/>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!--Fontawesome-->
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <!--Owl-carousel-->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <!--Owl Carousel theme-->
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <!--Animate-->
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <!-- magnific CSS -->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <!-- Mmenu CSS -->
    <link rel="stylesheet" href="../assets/css/slicknav.min.css">
    <!--Style-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <style>
        th {
            border-top: solid orange;
            border-right: blank;    /* prevent colgroup border */
            border-left: blank      /* prevent cell border */
        }
        table, th, td {
          align: center;
          font-color: #9e4a17;
        }
        table.center {
          margin-left: 50px;
          margin-right: 50px;
          text-align: center;
        }
        tr:nth-child(even) {background-color: #e6b486;}
    </style>

    <header class="header-area-start">
        <!--Header top area start-->
        <div class="header-top-area-start">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 col-sm-5">
                        <div class="header-top-left">
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-in-alt"></i>
                                login</a>
                            <!--                            <a href="#" data-toggle="modal" data-target="#exampleModal1"><i class="far fa-user"></i> register</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Header top area end-->

        <!--Header navigation area start-->
        <div class="navigation-area-start shadow">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-5 col-sm-5">
                        <div class="logo-area">
                            <a href="index.html"><img th:src="@{/assets/images/logo.jpeg}"/> </a>
                        </div>
                    </div>
                    <!--Logo area end-->
                    <div class="col-md-9 col-7 col-sm-7">
                        <nav class="main-menu-area">
                            <ul class="main-menu" id="mobile-menu">
                                <li> Welcome
                                    <span sec:authentication="name"></span>,
                                </li>
                                <!--                            <li><a th:href="@{/welcome}" href="/welcome"> Customer Home</a></li>-->
                                <li><a th:href="@{/welcomeGlobal}" href="/Logout">Home</a></li>
                                <li><a href="#">Accounts <i class="fas fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="drop-list"><a href="#">BLog Page</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                                                <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="left-sidebar.html">Loans</a></li>
                                        <li><a href="right-sidebar.html">Retirement Savings</a></li>
                                        <li><a href="single.html">Withdrawals</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a th:href="@{/logout}" href="/Logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu area end-->
                </div>
            </div>
        </div>
        <!--Header navigation area end-->
    </header>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <br/><br/><br/>
                <h2>Upload Customer Identity Card info </h2>
<!--                User: <div th:text="${userName}"/>-->
                Name:<div style th:text="${session.customerInUse.lastName}"/>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form action="#" method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
<!--                        <input type="hidden" th:value="${userName}" th:attr="userName='userName'"/>-->
                    </div><br/><br/>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer::navbar">  </div>
</html>