<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>

<div class="container">
    <section class="choosen-area-start space">
        <!-- Use this as a header after login-->

        <table style="border:0px" class="center" width="100%" cellpadding="5">
            <tr>
                <td>
                    <font size="3">Account Owner</font>
                    <br/>
                    <font size="4">
                        <a href="#" th:href="@{/showCustomer/{id}(id=${session.customerInUse.id})}">
                            <span style th:text="${session.customerInUse.userName}"/>
                        </a>
                    </font>
                    <button type="submit">
                        <a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">
                            <font color="gray" size="2px">Upload I.D</font></a>
                    </button>
                    <a href="#" th:href="@{/reloadUser}">
                        <img width="40px" th:src="@{/getImage}"/>
                    </a>
                    <br/>
                <td></td>
                <td> Saving <br/>
                    <font color="gray" size="4px">
                        <div th:text="${session.savingBilanzList.totalSaving}"/>
                    </font>
                </td>
                <td> Loan<br/>
                    <font size="4px" color="gray">
                        <div th:text="${session.loanBilanzList.currentLoanBalance}"/>
                    </font></td>
                <td> Current<br/> <font size="4px" color="gray"> 0</font></td>
                <td>Retirement saving <br/> <font size="4px" color="gray">0</font></b></td>
            </tr>
        </table>
        <!-- END -->
        <br/>

        &nbsp;
        <table border="0" class="center" width="100%" cellpadding="5">
            <tr>
                <td colspan="4">
                    <font size="5px" color="#738980"> <b>SAVING ACCOUNTS</b> </font>
                    <span th:if="${createSavingAccountEligible}">
                        <a href="#" th:href="@{/registerSavingAccount}">
                            <img width="25px" th:src="@{/assets/images/add.png}"/>
                        </a>
                    </span>
                </td>
                <td colspan="3">
                    <a href="#" th:href="@{/transferFromDebitToDebitForm}">
                        Transfer to another account <img width="25px" th:src="@{/assets/images/depositIcon.png}"/>
                    </a>
                </td>
                <td colspan="3">
                    <a href="#" th:href="@{/transferFromSavingToLoanAccountsForm}">
                        Loan re-payment <img width="25px" th:src="@{/assets/images/depositIcon.png}"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Account Type
                </td>
                <td>
                    Account Number
                </td>
                <td>
                    Account Balance
                </td>
                <td>
                    Minimum
                </td>
                <td>
                    Locked
                </td>
                <td>
                    Description
                </td>
                <td>
                    Created
                </td>
                <td>
                    Creator
                </td>
                <td>
                    Annual Rate
                </td>
                <td>
                </td>
            </tr>

            <tr th:each="savingAccount : ${session.customerInUse.savingAccount}">

                <td th:text="${savingAccount.accountType.name}"/>

                <td>
                    <a th:href="@{/callcenter/{id}(id=${savingAccount.accountNumber})}" href="/callcenter">

                        <font size="4">
                            <span th:text="${savingAccount.accountNumber}"/>
                        </font>
                        <span th:if="${savingAccount.defaultedPayment}">
                            <font size="4" color="red">
                                **
                            </font>
                    </span>
                    </a>
                </td>
                <td th:text="${#numbers.formatDecimal(savingAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${#numbers.formatDecimal(savingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${savingAccount.accountMinBalanceLocked}"/>

                <td th:text="${savingAccount.notes}"/>

                <td th:text="${#dates.format(savingAccount.createdDate, 'dd-MMM-yyyy HH:mm')}"/>

                <td th:text="${savingAccount.createdBy}"/>

                <td>
                    <span th:text="${savingAccount.interestRate}"/>%
                </td>

                <td>
                    <a href="#" th:href="@{/registerSavingAccountTransaction/{id}(id=${savingAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/lens.png}"/>
                    </a>

                    <a href="#" th:href="@{/showSavingAccountBilanz/{accountId}(accountId=${savingAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/percentIcon.png}"/>
                    </a>
                    </font>
                </td>
            </tr>
        </table>

        <br/> <br/> <br/> <br/>

        <table border="0" class="center" width="100%" cellpadding="5">
            <tr>
                <td colspan="8">
                    <font size="5px" color="#738980">
                        <b>LOAN ACCOUNTS</b>
                    </font>
                    <span th:if="${createLoanAccountEligible}">
                        <a href="#" th:href="@{/registerLoanAccount}">
                            <img width="25px" th:src="@{/assets/images/add.png}"/>
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    Account Type
                </td>
                <td>
                    Account Number
                </td>
                <td>
                    Original Amount
                </td>
                <td>
                    Current Balance
                </td>
                <td>
                    Guarantor
                </td>
                <td>
                    Created
                </td>

                <td>
                    Creator
                </td>
                <td>
                    Annual Rate
                </td>
                <td>
                </td>
            </tr>

            <tr th:each="loanAccount : ${session.customerInUse.loanAccount}">

                <td>
                    <p th:text="${loanAccount.accountType.name}"/>
                </td>
                <td>
                    <a th:href="@{/callcenter/{id}(id=${loanAccount.accountNumber})}" href="/callcenter">

                        <div th:text="${loanAccount.accountNumber}"/>
                    </a>
                </td>
                <td th:text="${#numbers.formatDecimal(loanAccount.loanAmount, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${#numbers.formatDecimal(loanAccount.currentLoanAmount, 0, 'COMMA', 0, 'POINT')}"/>

                <td><span th:text="${loanAccount.shorteeAccounts[0].savingAccount.accountNumber}"/>

                <br/>
                    <span th:text="${loanAccount.shorteeAccounts[0].savingAccount.user.lastName}"/>,
                    <span th:text="${loanAccount.shorteeAccounts[0].savingAccount.user.firstName}"/>
                </td>

                <td th:text="${#dates.format(loanAccount.createdDate, 'dd-MMM-yyyy HH:mm')}"/>

                <td th:text="${loanAccount.createdBy}"/>

                <td>
                    <span th:text="${loanAccount.interestRate}"/>%
                </td>
                <td>
                    <a href="#" th:href="@{/registerLoanAccountTransaction/{id}(id=${loanAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/lens.png}"/>
                    </a>
                    <a href="#" th:href="@{/showLoanAccountBilanz/{accountId}(accountId=${loanAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/percentIcon.png}"/>
                    </a>
                    </font>
                </td>
            </tr>
        </table>
        <br/><br/><br/><br/>

        <table border="0" class="center" width="100%">
            <tr>
                <td colspan="8">
                    <font size="5px" color="#738980">
                        <b>CURRENT ACCOUNT</b>
                    </font>
                    <a href="#">
                        <img width="25px" th:src="@{/assets/images/add.png}"/>
                    </a><br/>
                </td>
            </tr>
        </table>
        <br/>

    </section>
</div>

</body>
<div th:insert="blog::navbar"></div>
<br/>

<div th:insert="footer::navbar"></div>
</html>