<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<head>

</head>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="panel panel-primary">
                <div class="panel-heading">Verify User Info</div>
                <div class="panel-body">
                    <form action="#" th:action="@{/registerUserPreviewForm}" method="post" th:object="${user}" >
                        <label> <p>Username:</p> </label>
                        <input type="text" th:field="*{userName}" readonly/> <br/>

                        <label><p>Firstname and Lastname:</label>
                        <input type="text" th:field="*{firstName}" readonly/> <input type="text" th:field="*{lastName}" readonly/><br/>

                        <label><p>Telephone1:</label>
                        <input type="text" th:field="*{telephone1}" readonly/><br/>

                        <label><p>Telephone2:</label>
                        <input type="text" th:field="*{telephone2}" readonly/><br/>

                        <label><p>Address:</label>
                        <input type="text" th:field="*{address}" readonly/><br/>

                        <label><p>Date of birth:</label>
                        <input type="text" th:field="*{dateOfBirth}" readonly/><br/>

                        <label><p>Beneficiary:</label>
                        <input type="text" th:field="*{beneficiary}" readonly/><br/>

                        <label><p>Email:</label>
                        <input type="text" th:field="*{email}" readonly/><br/>

                        <label><p>Password:</label>
                        <input type="text" th:field="*{password}" readonly/><br/>

                        <label> LockAccount:</label>
                        <input type="text" th:field="*{accountLocked}" readonly/><br/>


                        <label> UserRole:</label>
                        <input type="text" name="userRoleTemp" th:value="${userRoleTemp}" readonly/><br/>


<!--                        <select name="aUserRole" id="aUserRole">-->
<!--&lt;!&ndash;                            <option value='${user.userRole}' selected>${userRoleTemp} </option>&ndash;&gt;-->
<!--                            <option value="CUSTOMER">CUSTOMER</option>-->
<!--                            <option value="AGENT">AGENT</option>-->
<!--                            <option value="AUDITOR">AUDITOR</option>-->
<!--                            <option value="BOARD MEMBER">BOARD MEMBER</option>-->
<!--                            <option value="MANAGER">MANAGER</option>-->
<!--                        </select>-->

                        <a href="user.html">Back</a><br/><br/>
                        <button type="submit" class="btn btn-success">Confirm and Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <div th:insert="/footer::navbar">  </div>
</div>
