<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<head>

</head>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="panel panel-primary">
                <div class="panel-heading">Verify User Info</div>
                <div class="panel-body">
                    <form action="#" th:action="@{/registerUserPreviewForm}" method="post" th:object="${user}" >
                        <label> <p>Username:</p> </label>
                        <input type="text" th:field="*{userName}" readonly/> <br/>

                        <label><p>Firstname and Lastname:</label>
                        <input type="text" th:field="*{firstName}" readonly/> <input type="text" th:field="*{lastName}" readonly/><br/>

                        <label><p>Telephone1:</label>
                        <input type="text" th:field="*{telephone1}" readonly/><br/>

                        <label><p>Telephone2:</label>
                        <input type="text" th:field="*{telephone2}" readonly/><br/>

                        <label><p>Address:</label>
                        <input type="text" th:field="*{address}" readonly/><br/>

                        <label><p>Date of birth:</label>
                        <input type="text" th:field="*{dateOfBirth}" readonly/><br/>

                        <label><p>Beneficiary:</label>
                        <input type="text" th:field="*{beneficiary}" readonly/><br/>

                        <label><p>Email:</label>
                        <input type="text" th:field="*{email}" readonly/><br/>

                        <label><p>Password:</label>
                        <input type="text" th:field="*{password}" readonly/><br/>

                        <label> LockAccount:</label>
                        <input tyoe="text" th:field="*{accountLocked}" readonly/><br/>

                        <a href="user.html">Back</a>
                        <button type="submit" class="btn btn-success">Confirm and Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
