<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<br/><br/>
<!-- Use this as a header after login-->
<table width="100%"><tr> <td><font size="10"> <span style th:text="${session.customerInUse.userName}"/>'s </font><button type="submit" ><a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">Upload I.D</a></button>
    <br/> Detail page to see all their accounts.  </td>
<td> Saving <br/><font size="6" color="green"> <font color="green" size="6px"> <div th:text="${savingsBilanzList.totalSaving}"/></font></font></td>
    <td> Current<br/> <font size="6" color="blue"> 5 000</font></td>
    <td> Loan<br/> <font size="6" color="red"> 300</font></td>
    <td>Retirement saving <br/> <font size="6" color="">25 000 </font> </b></td>
</tr></table>
<!-- END -->
<br/>

<font size="5" color="green"> SAVING ACCOUNT </font><a href="#" th:href="@{/registerSavingAccount}"> <img width="25px" th:src="@{/images/add.png}"/></a><br/></span>

<table border="3px">
    <tr>
        <th>
            Account Type
        </th>
        <th>
            Account Number
        </th>
        <th>
            Account Minimum Balance
        </th>
        <th>
            Interest Rate
        </th>
        <th>
            Minimum Balance Locked
        </th>
        <th>
            Created Date
        </th>
        <th>
            Created By
        </th>
<!--        <th>-->

<!--        </th>-->
    </tr>

    <tr th:each="savingAccount : ${session.customerInUse.savingAccount}">
        <td>
            <p th:text="${savingAccount.savingAccountType.name}"/>
        </td>
        <td>
            <p th:text="${savingAccount.accountNumber}"/>
        </td>
        <td>
            <p th:text="${savingAccount.accountMinBalance}"/>
        </td>
        <td>
            <p th:text="${savingAccount.interestRate}"/>
        </td>
        <td>
            <p th:text="${savingAccount.accountMinBalanceLocked}"/>
        </td>
        <td>
            <p th:text="${savingAccount.createdDate}"/>
        </td>
        <td>
            <p th:text="${savingAccount.createdBy}"/>
        </td>
        <td>
            <a href="#" th:href="@{/registerSavingAccountTransaction/{id}(id=${savingAccount.id})}"><img width="25px" th:src="@{/images/add.png}"/> Make a savings payment</a><br/>
            <a href="#" th:href="@{/showSavingsBilanz/{id}(id=${session.customerInUse.id})}"> Show Savings interest</a>
        </td>
    </tr>
</table>

<br/> <br/> <br/> <br/>

<font size="5" color="blue"> CURRENT ACCOUNT </font> <a href="#"> <img width="25px" th:src="@{/images/add.png}"/></a> <br/><br/><br/><br/>


<font size="5" color="red"> LOAN ACCOUNT </font> <a href="#">  <img width="25px" th:src="@{/images/add.png}"/></a><br/><br/><br/><br/>



<font size="5" color="red"> RETIREMENT SAVING ACCOUNT </font> <a href="#"> <img width="25px" th:src="@{/images/add.png}"/></a><br/><br/><br/><br/>


<div th:insert="/footer::navbar">  </div>
</body>
</html>

