<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}" type="text/css"/>

</head>

    <div>

        <p> Welcome <strong th:text="${user.userName}"> </strong></p>
                <div>Your account was successfully created</div>

                    <form action="#" th:action="@{/registerUserForm}" method="post" th:object="${user}">
                        <br/>
<!--                        <label> Customer name:</label>-->
<!--                        <input type="text" th:field="*{userName}"/> <br/>-->


                        <br>
                        <a href="#" th:href="@{/registerSavingAccount}">Create Saving Account</a>
                        <a href="#" th:href="@{/registerCurrentAccount}">Create Current Account</a>
                        <a href="#" th:href="@{/registerRetirementAccount}">Create Retirement Savings Account</a>
                    </form>
                </div>

    </div>

</html>
