<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>

<div class="container">
    <!--Choosen area start-->
    <section class="choosen-area-start space">
        <!-- Use this as a header after login-->

        <table style="border:0px" class="center" width="100%">
            <tr>
                <td><font size="3">Account Owner</font><br/>
                    <font color="gray" size="5">
                        <span style th:text="${session.customerInUse.userName}"/>'s
                    </font>
                    <button type="submit">
                        <a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">
                            Upload I.D
                        </a>
                    </button>
                    <br/>
                <td>
                    <font color="gray" size="4">
                        <h4>View Accounts</h4>
                    </font>
                </td>
                <td> Saving <br/>
                    <font color="gray" size="4px">
                        0
                    </font>
                </td>
                <td> Current<br/> <font size="4px" color="gray"> 0</font></td>
                <td> Loan<br/> <font size="4px" color="gray"> 0</font></td>
                <td>Retirement saving <br/> <font size="4px" color="gray">0</font></b></td>
            </tr>
        </table>
        <!-- END -->
        <br/>

        <table border="0" class="center" width="100%">
            <tr>

                <td colspan="8">


                    <font size="5px" color="#738980"> <b>CURRENT ACCOUNT</b> </font>
                    <a href="#" th:href="@{/registerCurrentAccount}">
                        <img width="25px" th:src="@{/assets/images/add.png}"/></a><br/></span><br/>
                    <font size="3">No Accounts exist for <i><span style th:text="${session.customerInUse.userName}"/></i> Create an account</font>

                </td>

            </tr>
        </table>

        <br/> <br/>


        <table border="0" class="center" width="100%">
            <tr>
                <td colspan="9"><font size="5px" color="#738980">
                    <b>SAVING ACCOUNT</b> </font>

                    <span th:if="${createSavingAccountEligible}">
                        <a href="#" th:href="@{/registerSavingAccount}">
                            <img width="25px" th:src="@{/assets/images/add.png}"/>
                        </a>
                    </span>

                    <br/>
                </td>
            </tr>
            <tr>
                <td colspan="8">

                </td>
            </tr>

            <tr th:each="savingAccount : ${session.customerInUse.savingAccount}">
                <td>
                    <p th:text="${savingAccount.accountType.name}"/>
                </td>
                <td>
                    <a th:href="@{/callcenter/{id}(id=${savingAccount.accountNumber})}" href="/callcenter"><span
                            th:if="${savingAccount.defaultedPayment}"><b><font size="6" color="red">**</font></b></span>
                        <p th:text="${savingAccount.accountNumber}"/></a>
                </td>
                <td>
                    <p th:text="${savingAccount.notes}"/>
                </td>
                <td>
                    <!-- <p th:text="${savingAccount.accountMinBalance}"/>-->
                    <p th:text="${#numbers.formatDecimal(savingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}">
                        10.00 </p>
                </td>
                <td>
                    <p th:text="${savingAccount.interestRate}"/>
                </td>
                <td>
                    <p th:text="${savingAccount.accountMinBalanceLocked}"/>
                    <!--            ${#numbers.formatDecimal(abc.value, 1, 'DEFAULT', 2, 'DEFAULT')}-->
                </td>
                <td>
                    <p th:text="${#dates.format(savingAccount.createdDate, 'dd-MMM-yyyy HH:mm')}">
                </td>
                <td>
                    <p th:text="${savingAccount.createdBy}"/>
                </td>
                <td>
                    <a href="#" th:href="@{/registerSavingAccountTransaction/{id}(id=${savingAccount.id})}">
                        <font size="4"> Make payment/
                            withdrawal</font> <img width="25px" th:src="@{/assets/images/add.png}"/> </a><br/>
                    <a href="#" th:href="@{/showSavingBilanz/{id}(id=${session.customerInUse.id})}">
                        <font size="4"> Show Savings
                            interest</font></a>
                    </font>
                </td>
            </tr>
        </table>

        <br/> <br/>
        <table border="0" class="center" width="100%">
            <tr>
                <td colspan="8">
                    <font size="5px" color="#738980">
                        <b>LOAN ACCOUNT</b>
                    </font>
                    <a href="#" th:href="@{/registerLoanAccount}">
                        <img width="25px" th:src="@{/assets/images/add.png}"/>
                    </a>
                    <br/>
                </td>
            </tr>
        </table>
        <br/> <br/>


        <table border="0" class="center" width="100%">
            <tr>
                <td colspan="8">
                    <font size="5px" color="#738980">
                        <b>SHARE ACCOUNT</b>
                    </font><a href="#" th:href="@{/registerShareAccount}">
                    <img width="25px" th:src="@{/assets/images/add.png}"/></a><br/>
                </td>
            </tr>
        </table>
        <br/>

        <!--Choosen main area end-->
    </section>
</div>
<!--Choosen area end-->


<!--Blog area content start-->
<div class="blog-area-content-start">
    <div class="container">
        <div class="row">
            <!--Single blog content start-->
            <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/01.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2021</span>
                            <span>Aug</span>
                        </div>
                        <h4><a href="#">Contact us for an Auto loan. Convenient and affordable payment plans.</a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read More</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->
            <!--Single blog content start-->
            <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/02.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2021</span>
                            <span>Aug</span>
                        </div>
                        <h4><a href="#">Retirement Savings with excellent conditions. Guaranteed returns.</a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read More</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->
            <!--Single blog content start-->
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-content shadow rounded">
                    <div class="blog-image">
                        <a href="#"><img th:src="@{/assets/images/blog/03.jpg}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span>2021</span>
                            <span>Sept</span>
                        </div>
                        <h4><a href="#">Digitization of supplies aim to lifting farmers out of poverty </a></h4>
                        <!--                            <p>Molestiae voluptates, soluta illo nostrum dolor ipsum vel repellendus at aut-->
                        <!--                                consequuntur.</p>-->
                        <!--                            <a href="#">Read More</a>-->
                        <div class="blog-post-data">
                            <a href="#"><i class="fas fa-tag"></i> Read more</a>
                            <!--                                <a href="#"><i class="fas fa-user"></i> Nobita</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Single blog content end-->
        </div>
    </div>
</div>
<br/>


<div th:insert="footer::navbar"></div>
</html>