<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<head>
    <title>PIPIDAF - LOGIN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}" type="text/css"/>
</head>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary text-light">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Register Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form action="#" th:action="@{/registerUserForm}" method="post" th:object="${user}" >
                        <label> Username:</label>
                        <input type="text" th:field="*{userName}"/> <br/><br/>
                        <label> First Name:</label>
                        <input type="text" th:field="*{firstName}"/> <br/><br/>
                        <label> Last Name:</label>
                        <input type="text" th:field="*{lastName}"/> <br/><br/>
                        <label> Phone Number 1:</label>
                        <input type="tel" th:field="*{telephone1}"/> <br/><br/>
                        <label> Phone Number 2:</label>
                        <input type="tel" th:field="*{telephone2}"/> <br/><br/>
                        <label> Address:</label>
                        <input type="text" th:field="*{address}"/> <br/><br/>
                        <label> Date of Birth:</label>
                        <input type="date" th:field="*{dateOfBirth}"/> <br/><br/>
                        <label> Beneficiary Username:</label>
                        <input type="text" th:field="*{beneficiary}"/> <br/><br/>
                        <label> Email:</label>
                        <input type="email" th:field="*{email}"/> <br/><br/>
                        <label> Password:</label>
                        <input type="password" th:field="*{password}"/> <br/><br/>

                        <div>
                            <input th:field="*{accountLocked}"  type="radio" id="false" name="accountLocked" value="false"
                                   checked>
                            <label for="false">This new user CANNOT login</label>
                        </div>
                        <div>
                            <input th:field="*{accountLocked}" type="radio" id="true" name="accountLocked" value="true">
                            <label for="true">This new user CAN login</label>
                        </div><br/><br/><br/>

                        <label for="aUserRole">Choose a User Role:</label>
                        <select name="aUserRole" id="aUserRole">
<!--                            <option th:each="userrole : ${T(UserRole).values()}"-->
<!--                                    th:value="${userrole}" th:text="${userrole}"></option>-->
                            <option value="CUSTOMER">CUSTOMER</option>
                            <option value="AGENT">AGENT</option>
                            <option value="AUDITOR">AUDITOR</option>
                            <option value="BOARD MEMBER">BOARD MEMBER</option>
                            <option value="MANAGER">MANAGER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                        <br/>
                        <button type="submit" class="btn btn-success">Save User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/> <br/>


    <div th:insert="/footer::navbar">  </div>
</div>
