<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar">  </div>
<br/>
<br/>

<!-- Contact form area start -->
<section class="contact-form-area-start space df-bg">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="project-title-content">
                        <h3>REGISTER A NEW USER</h3>
                        <span><i class="fas fa-crosshairs"></i></span>
                        <!--                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <div class="contact-from-area">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <form action="#" th:action="@{/registerUserForm}" method="post" th:object="${user}">

                            <div class="col-md-12">

                                <label for="aUserRole">Choose a User Role:</label>
                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')}">
                                    <select class="select" name="aUserRole" id="aUserRole">

                                        <option value="ROLE_ACCOUNTANT">ACCOUNTANT</option>
                                        <option value="ROLE_AUDITOR">AUDITOR</option>
                                        <option value="ROLE_AGENT">AGENT</option>
                                        <option value="ROLE_BOARD_MEMBER">BOARD MEMBER</option>
                                        <option value="ROLE_CASHIER">CASHIER</option>
                                        <option value="ROLE_CUSTOMER">CUSTOMER</option>
                                        <option value="ROLE_CUSTOMER_SERVICE">CUSTOMER SERVICE</option>
                                        <option value="ROLE_EXECUTIVE_DIRECTOR">EXECUTIVE DIRECTOR</option>
                                        <option value="ROLE_GENERAL_MANAGER">GENERAL_MANAGER</option>
                                        <option value="ROLE_LOAN_OFFICER">LOAD OFFICER</option>
                                        <option value="ROLE_MANAGER">MANAGER</option>
                                        <option value="ROLE_MARKETER">MARKETER</option>
                                        <option value="ROLE_OPERATION_OFFICER">OPERATIONS OFFICER</option>

                                    </select>

                                </span>
                                <br/>
                                <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')}">
                                    <select  name="aUserRole">
                                        <option value="ROLE_CUSTOMER">CUSTOMER</option>
                                    </select>
                                </div>
                                <br/>
                                Username: <input type="text" name="userName" th:field="*{userName}" id="userName"
                                       placeholder="Username" class="form-control" required>
                                <br/>
                                <label>
                                    Mr
                                    <input type="radio" value="Mr" th:field="*{gender}" name="gender" checked>
                                </label>
                                <label>
                                    Mrs
                                    <input type="radio" value="Mrs" th:field="*{gender}" name="gender">
                                </label>
                                <label>
                                    Miss
                                    <input type="radio" value="Miss" th:field="*{gender}" name="gender">
                                </label>

                                <br/>

                                <br/>
                                <input type="text" name="firstName" th:field="*{firstName}" id="firstName"
                                       placeholder="First Name" class="form-control" required>

                                <br/>
                                <input type="text" name="lastName" th:field="*{lastName}" id="lastName"
                                       placeholder="Last Name" class="form-control" required>

                                <br/>
                                <input type="text" name="profession" th:field="*{profession}" id="profession"
                                       placeholder="Profession" class="form-control" required>

                                <br/>
                                <input type="text" name="telephone1" th:field="*{telephone1}" id="telephone1"
                                       placeholder="Telephone 1" class="form-control" required>

                                <br/>
                                <input type="text" name="telephone2" th:field="*{telephone2}" id="telephone2"
                                       placeholder="Telephone 2" class="form-control">

                                <br/>
                                <input type="text" name="address" th:field="*{address}" id="address"
                                       placeholder="Address" class="form-control" required>

                                <br/>

                                <input type="date" name="dateOfBirth" th:field="*{dateOfBirth}" id="dateOfBirth"
                                       placeholder="Date of Birth:" class="form-control" required>

                                <br/>
                                <input type="text" name="emailInput" th:field="*{email}" id="emailInout"
                                       placeholder="Email" class="form-control" required>

                                <br/>
                                <input type="password" name="passwordInput" th:field="*{password}" id="passwordInput"
                                       placeholder="Password" class="form-control" required>

                                <br/>
                                <input type="text" name="beneficiary" th:field="*{beneficiary}" id="beneficiary"
                                       placeholder="Beneficiary Username" class="form-control" required>
                                <br/>

                                <input type="text" name="identityCardNumber" th:field="*{identityCardNumber}" id="identityCardNumber"
                                       placeholder="Identity Card No" class="form-control" required>
                                <br/>


                                <label for="true">This new user will be able to login</label><br/>
                                    False<input th:field="*{accountLocked}"  type="radio" id="true" name="accountLocked" value="true"
                                           checked>
                                    <br/>
                                    True<input th:field="*{accountLocked}" type="radio" id="false" name="accountLocked" value="false">

                                <br/>
                                <br/>

                                <input type="submit" class="btn-block btn contact-btn" value="CREATE USER"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer::navbar">  </div>
</html>