<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>

<div class="container">
    <section class="choosen-area-start space">
        <table style="border:0px" class="center" width="100%" cellpadding="5">
            <tr>
                <td>
                    <font size="3">Account Owner</font>
                    <br/>
                    <font size="4">
                        <a href="#" th:href="@{/showCustomer/{id}(id=${session.customerInUse.id})}">
                            <span style th:text="${session.customerInUse.userName}"/>
                        </a>
                    </font>
                    <button type="submit">
                        <a href="#" th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">
                            <font color="gray" size="2px">Upload I.D</font></a>
                    </button>
                    <a href="#" th:href="@{/reloadUser}">
                        <img width="40px" th:src="@{/getImage}"/>
                    </a>
                    <br/>
                <td></td>
                <td> Saving <br/>
                    <font color="gray" size="4px">
                        <div th:text="${session.savingBilanzList.totalSaving}"/>
                    </font>
                </td>
                <td> Loan<br/>
                    <font size="4px" color="gray">
                        <div th:text="${session.loanBilanzList.currentLoanBalance}"/>
                    </font></td>
                <td> Current<br/> <font size="4px" color="gray"> <span th:text="${session.currentBilanzList.totalCurrent}"/></font></td>
                <td> Shares<br/> <font size="4px" color="gray"> <span th:text="${session.shareAccountBilanzList.totalShare}"/></font></td>
            </tr>
        </table>
        <!-- END -->
        <br/>

        <table border="0" class="center" width="100%" cellpadding="5">
            <tr>
                <td colspan="2">
                    <font size="5px" color="#738980">
                        <b>CURRENT ACCOUNT</b>
                    </font>
                    <a href="#" th:href="@{/registerCurrentAccount}">
                        <img width="25px" th:src="@{/assets/images/add.png}"/>
                    </a><br/>
                </td>

<!--                <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_VIEW_CUSTOMER_ACCOUNT_BALANCES'')')}">-->

                <td colspan="3">
                    <a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="#" th:href="@{/transferFromCurrentToCurrentForm}">
                        Current to Current <img width="30px" th:src="@{/assets/images/transfer.png}"/>
                    </a>
                    <div th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="">
                        Current to Current <img width="30px" th:src="@{/assets/images/transfer.png}"/> <label title="Requires ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS"> <img width="30px" th:src="@{/assets/images/toolTip.png}"/> </label>
                    </div>
                </td>

                <td colspan="1">
                    <a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="#" th:href="@{/transferFromCurrentToDebitForm}">
                        Current to Saving <img width="35px" th:src="@{/assets/images/transfer3.png}"/>
                    </a>

                    <div th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="">
                        Current to Saving <img width="30px" th:src="@{/assets/images/transfer3.png}"/> <label title="Requires ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS"> <img width="30px" th:src="@{/assets/images/toolTip.png}"/> </label>
                    </div>

                </td>
                <td colspan="1">
                    <a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="#" th:href="@{/transferFromCurrentToLoanAccountsForm}">
                        Loan re-payment <img width="40px" th:src="@{/assets/images/transferLoan.png}"/>
                    </a>

                    <div th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="">
                        Loan re-payment <img width="40px" th:src="@{/assets/images/transferLoan.png}"/> <label title="Requires ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS"> <img width="30px" th:src="@{/assets/images/toolTip.png}"/> </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Account Type
                </td>
                <td>
                    Account Number
                </td>
                <td>
                    Account Balance
                </td>
                <td>
                    Active
                </td>
                <td>
                    Description
                </td>
                <td>
                    Created
                </td>
                <td>
                    Creator
                </td>

                <td>
                </td>
            </tr>
            <tr th:each="currentAccount : ${session.customerInUse.currentAccount}">
                <td>
                    <a th:href="@{/callcenter/{id}(id=${currentAccount.accountNumber})}" href="/callcenter">

                        <font size="4">
                            <span th:text="${currentAccount.accountNumber}"/>
                        </font>
                        <span th:if="${currentAccount.defaultedPayment}">
                            <font size="4" color="red">
                                **
                            </font>
                    </span>
                    </a>
                </td>
                <td> CURRENT ACCOUNT</td>
                <td th:text="${#numbers.formatDecimal(currentAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${currentAccount.active}"/>

                <td th:text="${currentAccount.notes}"/>

                <td th:text="${#dates.format(currentAccount.createdDate, 'dd-MMM-yyyy HH:mm')}"/>

                <td th:text="${currentAccount.createdBy}"/>

                <td>
                    <a href="#" th:href="@{/registerCurrentAccountTransaction/{id}(id=${currentAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/aLens.png}"/>
                    </a>
                    <a href="#" th:href="@{/showCurrentAccountBilanz/{accountId}(accountId=${currentAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/aPercent.png}"/>
                    </a>
                    </font>
                </td>
            </tr>
        </table>
        <br/> <br/>
        &nbsp;
        <table border="0" class="center" width="100%" cellpadding="5">
            <tr>
                <td colspan="2">
                    <font size="5px" color="#738980"> <b>SAVING ACCOUNTS</b> </font>
                    <span th:if="${createSavingAccountEligible}">
                        <a href="#" th:href="@{/registerSavingAccount}">
                            <img width="25px" th:src="@{/assets/images/add.png}"/>
                        </a>
                    </span>
                </td>
                <td colspan="3">
                    <a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="#" th:href="@{/transferFromDebitToDebitForm}">
                        Saving to Saving <img width="30px" th:src="@{/assets/images/transfer.png}"/>
                    </a>

                    <div th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="">
                        Saving to Saving <img width="30px" th:src="@{/assets/images/transfer.png}"/> <label title="Requires ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS"> <img width="30px" th:src="@{/assets/images/toolTip.png}"/> </label>
                    </div>

                </td>
                <td colspan="3">
                    <a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="#" th:href="@{/transferFromDebitToCurrentForm}">
                        Saving to Current <img width="35px" th:src="@{/assets/images/transfer3.png}"/>
                    </a>

                    <div th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS'')')}" href="">
                        Saving to Current <img width="30px" th:src="@{/assets/images/transfer3.png}"/> <label title="Requires ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS"> <img width="30px" th:src="@{/assets/images/toolTip.png}"/> </label>
                    </div>
                </td>
                <td colspan="4">


                </td>
            </tr>
            <tr>
                <td>
                    Account Number
                </td>
                <td>
                    Account Type
                </td>
                <td>
                    Account Balance
                </td>
                <td>
                    Minimum
                </td>
                <td>
                    Locked
                </td>
                <td>
                    Description
                </td>
                <td>
                    Creator
                </td>

                <td>
                </td>
            </tr>

            <tr th:each="savingAccount : ${session.customerInUse.savingAccount}">
                <td>
                    <a th:href="@{/callcenter/{id}(id=${savingAccount.accountNumber})}" href="/callcenter">

                        <font size="4">
                            <span th:text="${savingAccount.accountNumber}"/>
                        </font>
                        <span th:if="${savingAccount.defaultedPayment}">
                            <font size="4" color="red">
                                **
                            </font>
                    </span>
                    </a>
                </td>
                <td th:text="${savingAccount.accountType.name}"/>
                <td th:text="${#numbers.formatDecimal(savingAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${#numbers.formatDecimal(savingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${savingAccount.accountMinBalanceLocked}"/>

                <td th:text="${savingAccount.notes}"/>

                <td th:text="${savingAccount.createdBy}"/>


                <td>
                    <a href="#" th:href="@{/registerSavingAccountTransaction/{id}(id=${savingAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/aLens.png}"/>
                    </a>

                    <a href="#" th:href="@{/showSavingAccountBilanz/{accountId}(accountId=${savingAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/aPercent.png}"/>
                    </a>
                    </font>
                </td>
            </tr>
        </table>

        <br/> <br/>

        <table border="0" class="center" width="100%" cellpadding="5">
            <tr>
                <td colspan="8">
                    <font size="5px" color="#738980">
                        <b>LOAN ACCOUNTS</b>
                    </font>
                    <span class="error" th:text="${loanMustBeInActiveState}"/>
                    <span th:if="${createLoanAccountEligible}">
                        <a href="#" th:href="@{/registerLoanAccount}">
                            <img width="25px" th:src="@{/assets/images/add.png}"/>
                        </a>
                    </span>
                </td>

            </tr>
            <tr>
                <td>
                    Account Number
                </td>
                <td>
                    Account Type
                </td>
                <td>
                    Original Amount
                </td>
                <td>
                    Current Balance
                </td>
                <td>
                    Locked
                </td>
                <td>
                    Guarantor
                </td>

                <td>
                    Creator
                </td>
                <td>
                    Annual Rate
                </td>
                <td>
                </td>
            </tr>

            <tr th:each="loanAccount : ${session.customerInUse.loanAccount}">
                <td>
                    <a th:href="@{/callcenter/{id}(id=${loanAccount.accountNumber})}" href="/callcenter">
                        <div th:text="${loanAccount.accountNumber}"/>
                    </a>
                </td>
                <td>
                    <p th:text="${loanAccount.accountType.name}"/>
                </td>
                <td th:text="${#numbers.formatDecimal(loanAccount.loanAmount, 0, 'COMMA', 0, 'POINT')}"/>

                <td th:text="${#numbers.formatDecimal(loanAccount.currentLoanAmount, 0, 'COMMA', 0, 'POINT')}"/>

                <td><span th:text="${loanAccount.shorteeAccounts[0].savingAccount.accountNumber}"/>

                <br/>
                    <span th:text="${loanAccount.shorteeAccounts[0].savingAccount.user.lastName}"/>,
                    <span th:text="${loanAccount.shorteeAccounts[0].savingAccount.user.firstName}"/>
                </td>

                <td th:text="${loanAccount.createdBy}"/>

                <td>
                    <span th:text="${loanAccount.interestRate}"/>%
                </td>
                <td>
                    <a href="#" th:href="@{/registerLoanAccountTransaction/{id}(id=${loanAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/aLens.png}"/>
                    </a>
                    <a href="#" th:href="@{/showLoanAccountBilanz/{accountId}(accountId=${loanAccount.id})}">
                        <img width="30px" th:src="@{/assets/images/aPercent.png}"/>
                    </a>
                    </font>
                </td>
            </tr>
        </table>
        <br/><br/>


        <table border="0" class="center" width="100%" cellpadding="5">
            <tr>
                <td colspan="9">
                    <font size="5px" color="#738980">
                        <b>SHARE ACCOUNT</b>
                    </font>
                    <a href="#" th:href="@{/registerShareAccount}">
                        <img width="25px" th:src="@{/assets/images/add.png}"/>
                    </a><br/>
                </td>
            </tr>
            <tr>
                <td>
                    Account Number
                </td>
                <td>
                    Total Value
                </td>
                <td>
                    Unit Value
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Bought
                </td>
                <td>
                    Creator
                </td>
                <td>

                </td>
            </tr>
            <tr th:each="shareAccount : ${session.customerInUse.shareAccount}">
                <td>
                    <a th:href="@{/shareDetailsAccNumber/{id}(id=${shareAccount.accountNumber})}" href="/shareDetails">
                        <font size="4">
                            <span th:text="${shareAccount.accountNumber}"/>
                        </font>
                    </a>
                </td>
                <td th:text="${#numbers.formatDecimal(shareAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>
                <td th:text="${#numbers.formatDecimal(shareAccount.unitSharePrice, 0, 'COMMA', 0, 'POINT')}"/>
                <td th:text="${shareAccount.quantity}"/>
                <td th:text="${shareAccount.createdDate}"/>
                <td th:text="${shareAccount.createdBy}"/>
                <td>
                    <a href="#" th:href="@{/shareDetailsAccNumber/{id}(id=${shareAccount.accountNumber})}">
                        <img width="30px" th:src="@{/assets/images/aLens.png}"/>
                    </a>
                </td>
            </tr>
        </table>
    </section>
</div>

</body>
<div th:insert="blog::navbar"></div>
<br/>

<div th:insert="footer::navbar"></div>
</html>