<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar"></div>
<br/>
<br/>

<!--Choosen area start-->
<section class="choosen-area-start space">
    <!-- Use this as a header after login-->

    <table style="border:1px" class="center" width="90%">
        <tr>
            <td><font size="3">Account Owner</font><br/><font size="4"><a href="#"
                                                                          th:href="@{/showCustomer/{id}(id=${session.customerInUse.id})}"> <span
                    style
                    th:text="${session.customerInUse.userName}"/></a>
            </font>
                <button type="submit"><a href="#"
                                         th:href="@{/file/{userName}(userName=${session.customerInUse.userName})}">Upload
                    I.D</a></button>
                <a href="#" th:href="@{/reloadUser}"><img width="40px" th:src="@{/getImage}"/> </a>
                <br/>
            <td> </td>
            <td> Saving <br/>
                <font color="gray" size="4px">
                    <div th:text="${session.savingBilanzList.totalSaving}"/>
               </font>
            </td>
            <td> Loan<br/>
                <font size="4px" color="gray">
                    <div th:text="${session.loanBilanzList.totalLoan}"/>
                </font></td>
            <td> Current<br/> <font size="4px" color="gray"> 0</font></td>
            <td>Retirement saving <br/> <font size="4px" color="gray">0</font></b></td>
        </tr>
    </table>
    <!-- END -->
    <br/>

    &nbsp;
    <table border="0" class="center" width="90%">
        <tr>
            <td colspan="9">
                <font size="5px" color="#738980"> <b>SAVING ACCOUNTS</b> </font>
                <span th:if="${createSavingAccountEligible}">
                    <a href="#" th:href="@{/registerSavingAccount}">
                        <img width="25px" th:src="@{/assets/images/add.png}"/>
                    </a>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Acc Type
            </td>
            <td>
                Acc No.
            </td>
            <td>
                Description
            </td>
            <td>
                Min /Balance
            </td>
            <td>
                %
            </td>
            <td>
                Locked
            </td>
            <td>
                Created
            </td>
            <td>
                Creator
            </td>
            <td>
            </td>
        </tr>

        <tr th:each="savingAccount : ${session.customerInUse.savingAccount}">
            <!--        <tr th:each="savingAccount : ${savingBilanzList.savingBilanzList}">-->

            <td>
                <p th:text="${savingAccount.accountType.name}"/>
            </td>
            <td>
                <a th:href="@{/callcenter/{id}(id=${savingAccount.accountNumber})}" href="/callcenter">
                    <span th:if="${savingAccount.defaultedPayment}">
                        <b>
                            <font size="6" color="red">
                                **
                            </font>
                        </b>
                    </span>
                    <div th:text="${savingAccount.accountNumber}"/>
                </a>
            </td>
            <td>
                <p th:text="${savingAccount.notes}"/>
            </td>
            <td>
                <p th:text="${#numbers.formatDecimal(savingAccount.accountMinBalance, 0, 'COMMA', 0, 'POINT')}">
                    0.00
                </p>
                <p th:text="${#numbers.formatDecimal(savingAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>
            </td>
            <td>
                <p th:text="${savingAccount.interestRate}"/>
            </td>
            <td>
                <p th:text="${savingAccount.accountMinBalanceLocked}"/>
            </td>
            <td>
                <p th:text="${#dates.format(savingAccount.createdDate, 'dd-MMM-yyyy HH:mm')}">
            </td>
            <td>
                <p th:text="${savingAccount.createdBy}"/>
            </td>
            <td>
                <a href="#" th:href="@{/registerSavingAccountTransaction/{id}(id=${savingAccount.id})}">
                    <font size="3"> Payment/
                        withdrawal</font> <img width="25px" th:src="@{/assets/images/add.png}"/> </a><br/>
                <a href="#" th:href="@{/showSavingAccountBilanz/{accountId}(accountId=${savingAccount.id})}">
                    <font size="3">
                        Show Savings interest
                    </font>
                </a>
                </font>
            </td>
        </tr>
    </table>

    <br/> <br/> <br/> <br/>

    <table border="0" class="center" width="90%">
        <tr>
            <td colspan="7">
                    <font size="5px" color="#738980">
                        <b>LOAN ACCOUNTS</b>
                    </font>
                    <span th:if="${createLoanAccountEligible}">
                        <a href="#" th:href="@{/registerLoanAccount}">
                            <img width="25px" th:src="@{/assets/images/add.png}"/>
                        </a>
                    </span>
            </td>
        </tr>
        <tr>
            <td>
                Acc Type
            </td>
            <td>
                Acc No.
            </td>
            <td>
                Loan Amount
            </td>
            <td>
                %
            </td>

            <td>
                Description
            </td>

            <td>
                Created
            </td>
            <td>
                Creator
            </td>
            <td>
            </td>
        </tr>

        <tr th:each="loanAccount : ${session.customerInUse.loanAccount}">

            <td>
                <p th:text="${loanAccount.accountType.name}"/>
            </td>
            <td>
                <a th:href="@{/callcenter/{id}(id=${loanAccount.accountNumber})}" href="/callcenter">
                    <!--                    <span th:if="${savingAccount.defaultedPayment}">-->
                    <!--                        <b>-->
                    <!--                            <font size="6" color="red">-->
                    <!--                                **-->
                    <!--                            </font>-->
                    <!--                        </b>-->
                    <!--                    </span>-->
                    <div th:text="${loanAccount.accountNumber}"/>
                </a>
            </td>
            <td>
                <p th:text="${loanAccount.loanAmount}"/>
            </td>
            <td>
                <p th:text="${loanAccount.interestRate}"/>
            </td>
            <!--            <td>-->
            <!--                <p th:text="${#numbers.formatDecimal(loanAccount.accountBalance, 0, 'COMMA', 0, 'POINT')}"/>-->
            <!--            </td>-->
            <td>
                <p th:text="${loanAccount.notes}"/>
            </td>
            <td>
                <p th:text="${#dates.format(loanAccount.createdDate, 'dd-MMM-yyyy HH:mm')}">
            </td>
            <td>
                <p th:text="${loanAccount.createdBy}"/>
            </td>
            <td>
                <a href="#" th:href="@{/registerLoanAccountTransaction/{id}(id=${loanAccount.id})}">
                    <font size="3">
                        Payment
                    </font>
                    <img width="25px" th:src="@{/assets/images/add.png}"/>
                </a>
                <br/>
                <a href="#" th:href="@{/showLoanAccountBilanz/{accountId}(accountId=${loanAccount.id})}">
                    <font size="3">
                        Show Loan interest
                    </font>
                </a>
                </font>
            </td>
        </tr>
    </table>
    <br/>

    <table border="0" class="center" width="90%">
        <tr>
            <td colspan="8">
                <font size="5px" color="#738980">
                    <b>CURRENT ACCOUNT</b>
                </font><a href="#"> <img
                    width="25px" th:src="@{/assets/images/add.png}"/>
            </a><br/>
                </span></td>
        </tr>
    </table>
    <br/>

    <!--Choosen main area end-->
</section>

</body>
<div th:insert="blog::navbar"></div>
<br/>

<div th:insert="footer::navbar"></div>
</html>