<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:insert="header::navbar">  </div>
    <br/>
    <br/>

    <div class="footer-content-area-start">
        <div class="container">
            <div class="row">
    <!--Service area start-->
    <section class="service-area-start space">

        <!--Service content area start-->
        <div class="service-area-content">
            <div class="container">
                <div class="row">
<!--                   <div class="col-md-6 col-lg-4">-->
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CUSTOMER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')} " class="col-md-6 col-lg-4">
                       <div class="single-choosen-content text-center single-service-content box-pad">
                            <a href="/findAllCustomers"><i class="far fa-user"></i></a>

                            <h4> USERS</h4>
                            <p>Create & View existing Users</p>
                           <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')}OR ${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')}">
                            <a href="/registerUser"> <img width="5px" th:src="@{/assets/images/add.png}"/> </a>
                            <a href="/findAllCustomers">See More ...</a>
                           </div>
                           <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')}">
                               <a href="/registerCustomer"> <img width="5px" th:src="@{/assets/images/add.png}"/> </a>
                               <span class="far fa-user"></span>
                           </div>

                        </div>
                    </div>
                    <!--Single service area end-->
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')}" class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-piggy-bank"></i>
                            <h4>TRANSFERS</h4>
                            <p>Transfer between debit accounts</p>
                            <a href="/transferFromDebitToDebitForm"> <img width="5px" th:src="@{/assets/images/add.png}"/> </a>
                            <a href="/transferFromDebitToDebitForm">See More ...</a>
                            <span class="fas fa-piggy-bank"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')}" class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-hand-holding-usd"></i>
                            <h4>LOANS</h4>
                            <p>See loans pending action</p>
                            <a href="/loansPendingAction">See more</a>
                            <span class="fas fa-hand-holding-usd"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
<!--                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')}" class="col-md-6 col-lg-4">-->
<!--                        <div class="single-choosen-content text-center single-service-content box-pad">-->
<!--                            <i class="fas fa-landmark"></i>-->
<!--                            <h4>WITHDRAWAL</h4>-->
<!--                            <p>Do withdrawals from saving accounts and stay above minimum balance</p>-->
<!--                            <a href="#">See more</a>-->
<!--                            <span class="fas fa-landmark"></span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!--Single service area end-->
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} " class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-cogs"></i>
                            <h4>SETINGS</h4>
                            <p>Init settings</p>
                            <a href="#" th:href="@{/initsettings}"> init settings </a>
                            <a href="#" th:href="@{/newLedgerAccount}">View Ledger Accounts</a>
                            <span class="fas fa-cogs"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_AGENT'')')}" class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-ethernet"></i>
                            <h4>LOCATION/ BRANCHES</h4>
                            <p>Create and View new branches</p>
                            <a href="/registerBranch"> <img width="10px" th:src="@{/assets/images/add.png}"/> </a>
                            <a href="#" th:href="@{/branches}"> See Branches </a>
                            <span class="fas fa-ethernet"></span>
                        </div>
                    </div>
                    <!--Single service area end-->

                    <!--Single service area end-->
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_AUDITOR'')')}" class="col-md-6 col-lg-4">
                        <div class="single-choosen-content text-center single-service-content box-pad">
                            <i class="fas fa-ethernet"></i>
                            <h4>GENERAL LEDGER</h4>
                            <p>General Ledger records all bank transactions </p>
                            <a href="/gl">See More ...</a>
                            <span class="fas fa-ethernet"></span>
                        </div>
                    </div>
                    <!--Single service area end-->
                </div>
            </div>
        </div>
        <!--Service content area end-->
    </section>
    <!--Service area end-->
            </div>
        </div>
    </div>

    <div th:insert="blog::navbar"></div>

    <div th:insert="footer::navbar">  </div>
</html>
